
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 30.15rem;
}.chart-2-J75 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  border: solid 0.1rem #eaecf0;
  box-sizing: border-box;
  padding: 2.744rem 2.814rem 4.024rem 2.645rem;
  border-radius: 1rem;
  display: flex;
  background-color: #ffffff;

  .card-title-BwZ {
    margin: 0rem 6.851rem 2.456rem 0rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    color: #1e1b39;
    font-family: DM Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .identifiers-HUo {
    flex-shrink: 0;
    margin: 0rem 0rem 1.041rem 13.886rem;
    width: 10.3rem;

    .label-1-DNT {
      align-items: center;
      margin: 0rem 2.7rem 0.156rem 0rem;
      width: calc(100% - 2.7rem);
      display: flex;

      .identifier-Lhy {
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 0.8rem;
        height: 0.8rem;
        background-color: #005e96;
      }
      .name-sT1 {
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #615e82;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .label-2-c9h {
      width: 100%;
      display: flex;
      align-items: center;

      .identifier-m2b {
        flex-shrink: 0;
        margin-right: 0.9rem;
        width: 0.8rem;
        height: 0.8rem;
        background-color: #caddff;
        border-radius: 0.8rem;
      }
      .name-5oy {
        line-height: 1.3333333333;
        color: #615e82;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-kaap-cZ1 {
    width: 100%;
    height: 28.5782rem;
    position: relative;
    flex-shrink: 0;

    .amounts-MWb {
      width: 4.5rem;
      height: 24.3328rem;
      position: absolute;
      left: 0;
      top: 4.1097rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .item-15000-g35 {
        line-height: 1.1428571429;
        color: #615e82;
        white-space: nowrap;
        margin: 0rem 0rem 4.32rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: right;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .item-10000-NwV {
        font-size: 1.4rem;
        color: #615e82;
        font-family: DM Sans, 'Source Sans Pro';
        margin: 0rem 0rem 4.078rem 0rem;
        text-align: right;
        font-weight: 400;
        line-height: 1.1428571429;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-5000-ghH {
        text-align: right;
        color: #615e82;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        white-space: nowrap;
        margin: 0rem 0rem 4.082rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.1428571429;
      }
      .item-2000-CQj {
        line-height: 1.1428571429;
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 400;
        color: #615e82;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 3.697rem 0rem;
        text-align: right;
      }
      .item-0-83V {
        text-align: right;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.1428571429;
        color: #615e82;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .chart-lines-TLf {
      position: absolute;
      left: 4.6049rem;
      top: 4.9378rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 20.0255rem;
      height: 23.5976rem;

      .line-1-mcF {
        margin: 0rem 0rem 5.798rem 0rem;
        width: 20rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .line-2-uCf {
        flex-shrink: 0;
        margin: 0rem 0rem 5.853rem 0rem;
        width: 20rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .line-3-3Js {
        margin-bottom: 5.9029rem;
        width: 20.0255rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .line-4-zV1 {
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 6.043rem 0rem;
        width: 20rem;
      }
      .line-5-LYs {
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0rem;
        width: 20rem;
        height: 0;
        object-fit: contain;
      }
    }
    .bars-chart-tKV {
      background-color: #f2f1ff;
      box-sizing: border-box;
      padding: 2.591rem 1.038rem 0.314rem 0.972rem;
      height: 20.4146rem;
      left: 8.4105rem;
      width: 10.05rem;
      position: absolute;
      top: 8.1635rem;
      border-radius: 2.4rem;

      .bars-ZwR {
        width: 100%;
        height: 100%;
        border-radius: 2rem;

        .bar-group-2-jb1 {
          border-radius: 2rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;

          .blue-bar-2-VKH {
            margin: 0rem 1.005rem 0rem 0rem;
            width: 3.5175rem;
            height: 17.5094rem;
            background-color: #005e96;
            border-radius: 2rem;
            flex-shrink: 0;
          }
          .purple-bar-2-zG3 {
            background-color: #caddff;
            border-radius: 2rem;
            flex-shrink: 0;
            margin-bottom: 0.0001rem;
            width: 3.5175rem;
            height: 13.3032rem;
          }
        }
      }
    }
    .divider-US7 {
      background-color: #eff2f7;
      width: 24.321rem;
      height: 0.1rem;
      position: absolute;
      left: 0.3705rem;
      top: 0.2368rem;
    }
  }
}
