
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116rem;
}.component-3-XSs {
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  padding: 7rem 2rem 13.6rem 2rem;

  .property-1frame-57-E6P {
    padding: 3rem 7rem 3rem 2rem;
    display: flex;
    background-color: #eff2f7;
    margin-bottom: 10.9rem;
    box-sizing: border-box;
    width: 100%;
    height: 55.4rem;
    align-items: center;
    border-radius: 2.4rem;
    flex-shrink: 0;

    .frame-35-wWb {
      height: 100%;
      margin-right: 8rem;
      padding: 2.85rem 3.2rem 2.85rem 3rem;
      overflow: hidden;
      position: relative;
      border-radius: 2.4rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 55rem;

      .frame-32-rdZ {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .latest-reports-cMq {
          letter-spacing: -0.032rem;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1;
          font-size: 1.6rem;
          font-weight: 700;
          color: #93aafd;
          margin-bottom: 1.5rem;
        }
        .empowering-state-governments--Wy1 {
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          max-width: 34.4rem;
          font-size: 4rem;
          font-weight: 500;
          line-height: 1;
          color: #252733;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .annual-clean-energy-investment-is-expected-to-rise-by-24-between-2021-and-2023-driven-by-renewables-and-electric-vehicles-compared-with-a-15-rise-in-fossil-fuel-investment-over-the-same-period-but-more-than-90-of-this-increase-comes-from-advanced-economies-and-china-presenting-a-serious-risk-of-new-dividing-lines-in-global-energy-if-clean-energy-transitions-dont-pick-up-elsewhere-investment-in-clean-energy-technologies-is-significantly-outpacing-spending-on-fossil-fuels-as-affordability-and-security-concerns-triggered-by-the-global-energy-crisis-strengthen-the-momentum-behind-more-sustainable-options-according-to-the-iea-world-energy-investment-2023-report-dnj {
          margin-bottom: 1rem;
          line-height: 1.3999999762;
          letter-spacing: -0.032rem;
          color: #252733;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 48.8rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .frame-57-A3u {
          flex-shrink: 0;
          margin-right: 40.4rem;
          width: calc(100% - 40.4rem);
          display: flex;
          align-items: center;

          .arrowcircleleft-h3q {
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 3.2rem;
            height: 3.2rem;
          }
          .arrowcircleright-2bu {
            height: 3.2rem;
            cursor: pointer;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.2rem;
          }
        }
      }
    }
    .frame-59-jWK {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 40rem;

      .image-46-gRZ {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 40rem;
        height: 40.2rem;
        object-fit: cover;
      }
      .frame-58-1ij {
        align-items: center;
        border: solid 0.15rem #9ac9fa;
        background-color: #e3eefe;
        border-radius: 0.8rem;
        box-sizing: border-box;
        padding: 2.2rem 12.2rem 2.2rem 12.5rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        width: 100%;
        display: flex;

        .arrowlinedown-Xwy {
          margin: 0rem 1.9rem 0.1rem 0rem;
          width: 2.4rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .view-report-Taj {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.4;
          letter-spacing: -0.04rem;
          color: #504973;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .property-1frame-39-79V {
    flex-shrink: 0;
    display: flex;
    box-sizing: border-box;
    padding: 3rem 2rem;
    width: 100%;
    height: 55.4rem;
    align-items: center;
    background-color: #eff2f7;
    border-radius: 2.4rem;
    margin-bottom: 3rem;

    .frame-35-qLP {
      box-sizing: border-box;
      padding: 3rem 3.1rem 3rem 3rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 53rem;
      overflow: hidden;
      border-radius: 2.4rem;

      .frame-32-MZd {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .data-statistics-i9H {
          margin-bottom: 2rem;
          font-size: 1.6rem;
          font-weight: 700;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1;
          letter-spacing: -0.032rem;
          color: #93aafd;
        }
        .tariff-reviews--29y {
          line-height: 1;
          color: #252733;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2rem;
          font-size: 4rem;
          font-weight: 500;
        }
        .investment-in-clean-energy-technologies-is-significantly-outpacing-spending-on-fossil-fuels-as-affordability-and-security-concerns-triggered-by-the-global-energy-crisis-strengthen-the-momentum-behind-more-sustainable-options-according-to-the-iea-world-energy-investment-2023-report-annual-clean-energy-investment-is-expected-to-rise-by-24-between-2021-and-2023-driven-by-renewables-and-electric-vehicles-compared-with-a-15-rise-in-fossil-fuel-investment-over-the-same-period-but-more-than-90-of-this-increase-comes-from-advanced-economies-and-china-presenting-a-serious-risk-of-new-dividing-lines-in-global-energy-if-clean-energy-transitions-dont-pick-up-elsewhere-Z9u {
          margin-bottom: 1.4rem;
          max-width: 46.9rem;
          font-size: 1.6rem;
          color: #252733;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1.3999999762;
          letter-spacing: -0.032rem;
        }
        .frame-57-Bab {
          align-items: center;
          flex-shrink: 0;
          margin-right: 38.5rem;
          width: calc(100% - 38.5rem);
          display: flex;

          .arrowcircleleft-LCb {
            margin-right: 2rem;
            width: 3.2rem;
            height: 3.2rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .arrowcircleright-Gc3 {
            cursor: pointer;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.2rem;
            height: 3.2rem;
          }
        }
      }
    }
    .chart-2-zY3 {
      box-sizing: border-box;
      width: 53rem;
      flex-direction: column;
      border: solid 0.1rem #eaecf0;
      border-radius: 2rem;
      flex-shrink: 0;
      padding: 3.856rem 3.395rem 4.351rem 3.439rem;
      height: 100%;
      align-items: center;
      display: flex;
      background-color: #ffffff;

      .auto-group-x26x-76s {
        margin: 0rem 0.072rem 3.224rem 0rem;
        width: calc(100% - 0.0718rem);
        height: 5.6917rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .card-info-cJX {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 22.841rem;
          height: 100%;

          .type-card-xdH {
            flex-shrink: 0;
            margin-bottom: 0.8917rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1111111111;
            color: #9290a4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .card-title-V7R {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2727272727;
            color: #1e1b39;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .identifiers-pfV {
          width: 8.7534rem;
          height: calc(100% - 1.2rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0.583rem 0rem 0.617rem 0rem;

          .label-1-8w5 {
            margin: 0rem 0rem 1.292rem 0.053rem;
            width: calc(100% - 0.0534rem);
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;

            .identifier-TyM {
              background-color: #49d3ff;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 1.2rem;
              height: 1.2rem;
            }
            .name-o1d {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
            }
          }
          .label-2-iuH {
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-right: 0.2534rem;
            width: 100%;
            display: flex;
            align-items: center;

            .identifier-5E3 {
              height: 1.2rem;
              background-color: #3e7ad3;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 0.9rem;
              width: 1.2rem;
            }
            .name-cUs {
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }
      }
      .divider-jZV {
        height: 0.1rem;
        background-color: #e5e5ef;
        flex-shrink: 0;
        margin: 0rem 0.072rem 0.738rem 0rem;
        width: 46.0944rem;
      }
      .auto-group-4fzs-4bm {
        margin: 0rem 0rem 1.778rem 0.086rem;
        width: calc(100% - 0.0863rem);
        height: 28.0618rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .amounts-aq1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 1.733rem 0.288rem 0rem;
          align-items: flex-end;

          .m-7a3 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 4.898rem 0rem;
            text-align: right;
            flex-shrink: 0;
          }
          .m-Rqd {
            white-space: nowrap;
            margin: 0rem 0rem 4.633rem 0rem;
            text-align: right;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .m-Lhh {
            text-align: right;
            font-size: 1.4rem;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.8091rem;
            font-weight: 400;
            line-height: 1.1428571429;
            flex-shrink: 0;
          }
          .m-GrF {
            font-size: 1.4rem;
            font-weight: 400;
            color: #615e82;
            flex-shrink: 0;
            margin: 0rem 0rem 4.215rem 0rem;
            text-align: right;
            white-space: nowrap;
            line-height: 1.1428571429;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-0-bNj {
            margin-right: 0rem;
            font-size: 1.4rem;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: right;
            font-weight: 400;
            line-height: 1.1428571429;
            white-space: nowrap;
          }
        }
        .auto-group-kbtx-Wkb {
          width: 42.1471rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .chart-lines-fNb {
            width: 42.0753rem;
            height: 25.8798rem;
            left: 0;
            top: 2.1821rem;
            flex-direction: column;
            box-sizing: border-box;
            padding: 6.322rem 0rem 6.589rem 0rem;
            display: flex;
            border-bottom: solid 0.15rem #e5e5ef;
            border-top: dashed 0.15rem #e5e5ef;
            position: absolute;
            align-items: center;

            .line-2-9oZ {
              width: calc(100% - 0rem);
              height: 0.15rem;
              background-color: #e5e5ef;
              flex-shrink: 0;
              margin: 0rem 0rem 6.259rem 0rem;
            }
            .line-3-H95 {
              height: 0.15rem;
              background-color: #e5e5ef;
              flex-shrink: 0;
              margin-bottom: 6.259rem;
              width: 100%;
            }
            .line-4-RWB {
              height: 0.15rem;
              background-color: #e5e5ef;
              flex-shrink: 0;
              margin: 0rem 0rem 6.439rem 0rem;
              width: calc(100% - 0rem);
            }
          }
          .bars-chart-Xp7 {
            width: 42.0612rem;
            height: 25.7561rem;
            position: absolute;
            left: 0.0859rem;
            top: 1.9777rem;

            .active-bar-hover-sNB {
              width: 7.8412rem;
              height: 20.1401rem;
              position: absolute;
              left: 10.9718rem;
              top: 5.613rem;
              background-color: #f2f1ff;
              border-radius: 1.3rem 1.3rem 0.1rem 0;
            }
            .bars-Npj {
              border-radius: 0.8rem;
              width: 42.0612rem;
              height: 25.7561rem;
              position: absolute;
              left: 0;
              top: 0;
              display: flex;
              align-items: flex-end;

              .bar-group-1-VuM {
                display: flex;
                align-items: flex-end;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin: 0rem 5.775rem 0rem 0rem;

                .blue-bar-1-qTR {
                  height: 18.2048rem;
                  background-color: #49d3ff;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin: 0rem 1.039rem 0rem 0rem;
                  width: 2.5725rem;
                }
                .purple-bar-1-wmM {
                  width: 2.5725rem;
                  height: 14.5756rem;
                  background-color: #3e7ad3;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                }
              }
              .bar-group-2-GHq {
                display: flex;
                align-items: flex-end;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin: 0rem 5.775rem 0rem 0rem;

                .blue-bar-2-CxB {
                  background-color: #49d3ff;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin: 0rem 1.039rem 0rem 0rem;
                  width: 2.5725rem;
                  height: 19.2214rem;
                }
                .purple-bar-2-8qq {
                  height: 14.6039rem;
                  background-color: #3e7ad3;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  width: 2.5725rem;
                }
              }
              .bar-group-3-s2j {
                margin: 0rem 5.775rem 0rem 0rem;
                height: calc(100% - 0rem);
                display: flex;
                align-items: flex-end;
                border-radius: 0.8rem;
                flex-shrink: 0;

                .blue-bar-3-nfV {
                  width: 2.5725rem;
                  height: 25.7561rem;
                  background-color: #49d3ff;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin-right: 1.0392rem;
                }
                .purple-bar-3-KfR {
                  width: 2.5725rem;
                  height: 22.419rem;
                  background-color: #3e7ad3;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                }
              }
              .bar-group-4-3bR {
                align-items: flex-end;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin-bottom: 0rem;
                display: flex;

                .blue-bar-4-CjD {
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin-right: 1.0392rem;
                  width: 2.5725rem;
                  height: 12.178rem;
                  background-color: #49d3ff;
                }
                .purple-bar-4-jj9 {
                  margin-bottom: 0rem;
                  width: 2.5725rem;
                  height: 4.602rem;
                  background-color: #3e7ad3;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                }
              }
            }
          }
          .numbers-hover-oU7 {
            box-sizing: border-box;
            padding: 1.392rem 1.247rem 1.392rem 1.247rem;
            top: 0;
            align-items: center;
            flex-direction: column;
            background-color: #1e1b39;
            border-radius: 1.3rem;
            width: 6.9627rem;
            height: 6.6268rem;
            position: absolute;
            left: 11.4969rem;
            display: flex;

            .amount-1-VLw {
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 0.2059rem;
              display: flex;
              align-items: center;
              margin: 0rem 0.208rem 0.495rem 0rem;
              width: calc(100% - 0.2078rem);
              height: 1.6614rem;

              .identifier-QD1 {
                height: 1.2049rem;
                background-color: #49d3ff;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin: 0rem 0.416rem 0rem 0rem;
                width: 1.0392rem;
              }
              .number-XYX {
                flex-shrink: 0;
                margin-bottom: 0.2614rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.1666666667;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .amount-2-FDd {
              box-sizing: border-box;
              padding-right: 0.1137rem;
              width: 100%;
              height: 1.6868rem;
              display: flex;
              align-items: center;
              border-radius: 0.8rem;
              flex-shrink: 0;

              .identifier-amh {
                margin: 0rem 0.416rem 0rem 0rem;
                width: 1.0392rem;
                height: 1.2049rem;
                background-color: #3e7ad3;
                border-radius: 0.8rem;
                flex-shrink: 0;
              }
              .number-uoy {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2868rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.1666666667;
              }
            }
          }
        }
      }
      .years-cTV {
        margin-left: 3.8832rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item-2019-kJo {
          font-family: Inter, 'Source Sans Pro';
          margin-right: 8.5099rem;
          text-align: center;
          line-height: 1.1428571429;
          color: #615e82;
          font-size: 1.4rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-2020-UVh {
          white-space: nowrap;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1428571429;
          color: #615e82;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 8.618rem;
          flex-shrink: 0;
        }
        .item-2021-bqD {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 8.5591rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1428571429;
          color: #615e82;
        }
        .item-2022-vcb {
          flex-shrink: 0;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1428571429;
          color: #615e82;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .property-1frame-58-18F {
    display: flex;
    align-items: center;
    border-radius: 2.4rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 2rem;
    width: 100%;
    height: 55.4rem;
    background-color: #eff2f7;

    .frame-35-XcP {
      overflow: hidden;
      padding: 3rem;
      box-sizing: border-box;
      width: 53rem;
      height: 100%;
      position: relative;
      border-radius: 2.4rem;
      flex-shrink: 0;
      margin-right: 2rem;

      .frame-32-GK5 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        row-gap: 2rem;

        .data-statistics-cNw {
          line-height: 1;
          letter-spacing: -0.032rem;
          color: #93aafd;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 700;
        }
        .static-profile-8s5 {
          font-size: 4rem;
          font-weight: 500;
          line-height: 1;
          letter-spacing: -0.08rem;
          color: #252733;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .investment-in-clean-energy-technologies-is-significantly-outpacing-spending-on-fossil-fuels-as-affordability-and-security-concerns-triggered-by-the-global-energy-crisis-strengthen-the-momentum-behind-more-sustainable-options-according-to-the-iea-world-energy-investment-2023-report-annual-clean-energy-investment-is-expected-to-rise-by-24-between-2021-and-2023-driven-by-renewables-and-electric-vehicles-compared-with-a-15-rise-in-fossil-fuel-investment-over-the-same-period-but-more-than-90-of-this-increase-comes-from-advanced-economies-and-china-presenting-a-serious-risk-of-new-dividing-lines-in-global-energy-if-clean-energy-transitions-dont-pick-up-elsewhere-GiP {
          max-width: 47rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3999999762;
          letter-spacing: -0.032rem;
          color: #252733;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .frame-57-u95 {
          margin-right: 38.6rem;
          width: calc(100% - 38.6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .arrowcircleleft-r4K {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 3.2rem;
            height: 3.2rem;
            cursor: pointer;
          }
          .arrowcircleright-nTm {
            vertical-align: top;
            flex-shrink: 0;
            width: 3.2rem;
            height: 3.2rem;
            cursor: pointer;
            position: relative;
            object-fit: contain;
          }
        }
      }
    }
    .chart-2-Jh1 {
      width: 53rem;
      align-items: center;
      flex-direction: column;
      border: solid 0.1rem #eaecf0;
      border-radius: 2rem;
      flex-shrink: 0;
      padding: 3.856rem 3.395rem 4.351rem 3.439rem;
      height: 100%;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;

      .auto-group-ff2t-DZ5 {
        height: 5.6917rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.072rem 3.224rem 0rem;
        width: calc(100% - 0.0718rem);

        .card-info-L7u {
          margin-right: 22.841rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .type-card-gSf {
            line-height: 1.1111111111;
            color: #9290a4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8917rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          .card-title-QtT {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2727272727;
            color: #1e1b39;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .identifiers-Yzf {
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0.583rem 0rem 0.617rem 0rem;
          width: 8.7534rem;
          height: calc(100% - 1.2rem);

          .label-1-FeB {
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 0rem 1.292rem 0.053rem;
            width: calc(100% - 0.0534rem);

            .identifier-AFM {
              margin-right: 0.8rem;
              width: 1.2rem;
              height: 1.2rem;
              background-color: #49d3ff;
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .name-HKy {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .label-2-1mm {
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-right: 0.2534rem;

            .identifier-xS7 {
              width: 1.2rem;
              height: 1.2rem;
              background-color: #3e7ad3;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 0.9rem;
            }
            .name-gsu {
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }
      }
      .divider-1fH {
        flex-shrink: 0;
        margin: 0rem 0.072rem 0.738rem 0rem;
        width: 46.0944rem;
        height: 0.1rem;
        background-color: #e5e5ef;
      }
      .auto-group-hsjj-wYw {
        height: 28.0618rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 1.7778rem;
        width: 100%;

        .amounts-5v3 {
          margin: 0rem 1.733rem 0.288rem 0rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .m-zXD {
            text-align: right;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 4.898rem 0rem;
          }
          .m-Gjd {
            text-align: right;
            line-height: 1.1428571429;
            font-family: Inter, 'Source Sans Pro';
            color: #615e82;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 4.305rem 0rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .m-ZTq {
            color: #615e82;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.8091rem;
            text-align: right;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.1428571429;
            font-family: Inter, 'Source Sans Pro';
          }
          .m-G7M {
            margin: 0rem 0rem 4.215rem 0rem;
            text-align: right;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            line-height: 1.1428571429;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-0-KLX {
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            flex-shrink: 0;
            margin-right: 0rem;
            text-align: right;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-kcbu-ECb {
          flex-shrink: 0;
          width: 42.1471rem;
          height: 100%;
          position: relative;

          .chart-lines-Zkf {
            height: 25.8797rem;
            position: absolute;
            align-items: center;
            flex-direction: column;
            border-bottom: solid 0.15rem #e5e5ef;
            padding: 6.322rem 0rem 6.589rem 0rem;
            width: 42.0753rem;
            left: 0;
            top: 2.1821rem;
            display: flex;
            border-top: dashed 0.15rem #e5e5ef;
            box-sizing: border-box;

            .line-2-FNb {
              margin: 0rem 0rem 6.259rem 0rem;
              width: calc(100% - 0rem);
              height: 0.15rem;
              background-color: #e5e5ef;
              flex-shrink: 0;
            }
            .line-3-NTD {
              margin-bottom: 6.259rem;
              width: 100%;
              height: 0.15rem;
              background-color: #e5e5ef;
              flex-shrink: 0;
            }
            .line-4-WpK {
              width: calc(100% - 0rem);
              height: 0.15rem;
              background-color: #e5e5ef;
              flex-shrink: 0;
              margin: 0rem 0rem 6.439rem 0rem;
            }
          }
          .bars-chart-p4K {
            width: 42.0612rem;
            height: 25.7561rem;
            position: absolute;
            left: 0.0859rem;
            top: 1.9777rem;

            .active-bar-hover-LoM {
              top: 5.613rem;
              background-color: #f2f1ff;
              border-radius: 1.3rem 1.3rem 0.1rem 0;
              width: 7.8412rem;
              height: 20.1401rem;
              position: absolute;
              left: 10.9718rem;
            }
            .bars-eZ9 {
              border-radius: 0.8rem;
              width: 42.0612rem;
              height: 25.7561rem;
              position: absolute;
              left: 0;
              top: 0;
              display: flex;
              align-items: flex-end;

              .bar-group-1-Nk3 {
                align-items: flex-end;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin: 0rem 5.775rem 0rem 0rem;
                display: flex;

                .blue-bar-1-7Sj {
                  margin: 0rem 1.039rem 0rem 0rem;
                  width: 2.5725rem;
                  height: 18.2048rem;
                  background-color: #49d3ff;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                }
                .purple-bar-1-dfy {
                  height: 14.5756rem;
                  background-color: #3e7ad3;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  width: 2.5725rem;
                }
              }
              .bar-group-2-kVh {
                display: flex;
                align-items: flex-end;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin: 0rem 5.775rem 0rem 0rem;

                .blue-bar-2-tro {
                  margin: 0rem 1.039rem 0rem 0rem;
                  width: 2.5725rem;
                  height: 19.2214rem;
                  background-color: #49d3ff;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                }
                .purple-bar-2-2CK {
                  margin-bottom: 0rem;
                  width: 2.5725rem;
                  height: 14.6039rem;
                  background-color: #3e7ad3;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                }
              }
              .bar-group-3-9Xq {
                display: flex;
                align-items: flex-end;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin: 0rem 5.775rem 0rem 0rem;
                height: calc(100% - 0rem);

                .blue-bar-3-5wH {
                  margin-right: 1.0392rem;
                  width: 2.5725rem;
                  height: 25.7561rem;
                  background-color: #49d3ff;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                }
                .purple-bar-3-dC7 {
                  margin-bottom: 0rem;
                  width: 2.5725rem;
                  height: 22.419rem;
                  background-color: #3e7ad3;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                }
              }
              .bar-group-4-9gF {
                margin-bottom: 0rem;
                display: flex;
                align-items: flex-end;
                border-radius: 0.8rem;
                flex-shrink: 0;

                .blue-bar-4-6bV {
                  height: 12.178rem;
                  background-color: #49d3ff;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin-right: 1.0392rem;
                  width: 2.5725rem;
                }
                .purple-bar-4-drK {
                  background-color: #3e7ad3;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  width: 2.5725rem;
                  height: 4.602rem;
                }
              }
            }
          }
          .numbers-hover-MGX {
            position: absolute;
            left: 11.4969rem;
            align-items: center;
            display: flex;
            width: 6.9627rem;
            padding: 1.392rem 1.247rem 1.392rem 1.247rem;
            height: 6.6268rem;
            top: 0;
            flex-direction: column;
            background-color: #1e1b39;
            border-radius: 1.3rem;
            box-sizing: border-box;

            .amount-1-qxP {
              flex-shrink: 0;
              margin: 0rem 0.208rem 0.495rem 0rem;
              box-sizing: border-box;
              width: calc(100% - 0.2078rem);
              display: flex;
              border-radius: 0.8rem;
              padding-right: 0.2059rem;
              height: 1.6614rem;
              align-items: center;

              .identifier-ZdV {
                margin: 0rem 0.416rem 0rem 0rem;
                width: 1.0392rem;
                height: 1.2049rem;
                background-color: #49d3ff;
                border-radius: 0.8rem;
                flex-shrink: 0;
              }
              .number-UVZ {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2614rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.1666666667;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .amount-2-nm9 {
              display: flex;
              align-items: center;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 0.1137rem;
              width: 100%;
              height: 1.6868rem;

              .identifier-LGs {
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin: 0rem 0.416rem 0rem 0rem;
                width: 1.0392rem;
                height: 1.2049rem;
                background-color: #3e7ad3;
              }
              .number-4Cs {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2868rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.1666666667;
                color: #ffffff;
              }
            }
          }
        }
      }
      .years-m7H {
        flex-shrink: 0;
        margin-left: 3.8832rem;
        display: flex;
        align-items: center;

        .item-2019-ujH {
          color: #615e82;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1428571429;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 8.5099rem;
        }
        .item-2020-qN3 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1428571429;
          color: #615e82;
          margin-right: 8.618rem;
          flex-shrink: 0;
        }
        .item-2021-xhZ {
          font-size: 1.4rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 8.5591rem;
          text-align: center;
          line-height: 1.1428571429;
          color: #615e82;
          flex-shrink: 0;
        }
        .item-2022-gdZ {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1428571429;
          color: #615e82;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
      }
    }
  }
}
