
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.dist-page-iCj {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fafafd;
  box-sizing: border-box;
  padding-right: 4rem;

  .component-1-eMH {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 2.9rem 88.597rem 2.9rem;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    background-color: #080808;
    margin-right: 4rem;
    width: 24rem;
    height: 159.0966rem;
    align-items: center;
    display: flex;

    .frame-33-k9R {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4rem;

      .image-4-6j5 {
        width: 8rem;
        height: 4.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 7rem;
      }
      .list-SY3 {
        vertical-align: top;
        flex-shrink: 0;
        width: 3.2rem;
        height: 3.2rem;
        cursor: pointer;
        object-fit: contain;
      }
    }
    .frame-4-aeF {
      flex-shrink: 0;
      margin: 0 1.1rem;
      width: calc(100% - 2.2rem);
      display: flex;
      flex-direction: column;

      .pages-Wno {
        flex-shrink: 0;
        font-weight: 700;
        letter-spacing: -0.012rem;
        white-space: nowrap;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        margin-bottom: 4rem;
        font-size: 1.2rem;
        line-height: 1.3025;
      }
      .auto-group-rsmv-1zT {
        width: 100%;
        height: 22rem;
        position: relative;
        flex-shrink: 0;

        .component-2-AcT {
          height: 19.1rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          width: 14.9rem;

          .frame-7-WRR {
            margin: 0rem 3.3rem 2rem 0rem;
            width: calc(100% - 3.3rem);
            display: flex;
            align-items: flex-end;

            .chart-2-SZy {
              margin-right: 1rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .industry-data-ypo {
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.3025;
              letter-spacing: -0.014rem;
              color: #f9f5ff;
            }
          }
          .auto-group-rbnb-uiT {
            box-sizing: border-box;
            padding: 2rem 0rem 5.1rem 0rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .frame-3-deT {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 1.4rem 4rem 0rem;
              box-sizing: border-box;
              padding: 0.063rem 0rem 0rem 0.188rem;
              width: calc(100% - 1.4rem);
              cursor: pointer;

              .plugcharging-9Mu {
                flex-shrink: 0;
                margin: 0rem 1.188rem 0.063rem 0rem;
                width: 1.625rem;
                height: 1.875rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .generation-data-4zf {
                font-size: 1.4rem;
                font-family: DM Sans, 'Source Sans Pro';
                flex-shrink: 0;
                margin-top: 0.0375rem;
                line-height: 1.3025;
                letter-spacing: -0.014rem;
                color: #f9f5ff;
                white-space: nowrap;
                font-weight: 400;
              }
            }
            .frame-4-NkT {
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 0.2rem;
              box-sizing: border-box;
              padding: 0.1rem 0rem 0rem 0.062rem;
              width: calc(100% - 0.2rem);

              .broadcast-6wM {
                height: 1.3521rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.063rem 0.1rem 0rem;
                width: 1.8755rem;
              }
              .transmission-data-psM {
                line-height: 1.3025;
                letter-spacing: -0.014rem;
                color: #f9f5ff;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
          }
        }
        .frame-5-Z4F {
          cursor: pointer;
          top: 18rem;
          align-items: center;
          border-radius: 0.8rem;
          background-color: #504973;
          box-sizing: border-box;
          padding: 1.1rem 1rem 1rem 1rem;
          width: 16rem;
          height: 4rem;
          position: absolute;
          left: 0;
          display: flex;

          .usb-fNB {
            width: 2.0001rem;
            height: 1.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.1rem 0rem;
          }
          .distribution-data-PZ5 {
            letter-spacing: -0.014rem;
            color: #f9f5ff;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.3025;
          }
        }
      }
      .auto-group-51gf-Vs1 {
        box-sizing: border-box;
        padding-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-6-T39 {
          cursor: pointer;
          margin: 0rem 3.3rem 4rem 0rem;
          width: calc(100% - 3.3rem);
          display: flex;
          align-items: center;
          border-radius: 1.2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.1rem 0rem 0.1rem 0.219rem;

          .circuitry-Zrs {
            margin-right: 1.2188rem;
            width: 1.5625rem;
            height: 1.5625rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .customer-data-hTH {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.255;
            letter-spacing: -0.014rem;
            color: #f9f5ff;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .component-3-zhH {
          width: 14.9rem;
          cursor: pointer;
          flex-shrink: 0;

          .frame-7-Yio {
            width: calc(100% - 5.5rem);
            display: flex;
            align-items: flex-end;
            margin: 0rem 5.5rem 2rem 0rem;

            .chart-2-5yd {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .industry-data-E5q {
              line-height: 1.3025;
              letter-spacing: -0.014rem;
              color: #f9f5ff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .auto-group-sjwf-AEP {
            padding: 2rem 0;
            width: 100%;
            height: 15.1rem;
            box-sizing: border-box;

            .frame-8-JrP {
              align-items: flex-end;
              border-radius: 1.2rem;
              box-sizing: border-box;
              padding-right: 0.1rem;
              width: 12.1rem;
              height: 2rem;
              cursor: pointer;
              display: flex;

              .bookbookmark-r7D {
                flex-shrink: 0;
                margin-right: 1rem;
                width: 2rem;
                height: 2rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 1.2rem;
              }
              .energy-report-yhd {
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3025;
                letter-spacing: -0.014rem;
                color: #f9f5ff;
              }
            }
          }
        }
      }
    }
  }
  .frame-41-Gwd {
    margin-bottom: 0.1rem;
    width: 112rem;
    flex-shrink: 0;

    .energy-performance-tracker-Dby {
      margin-bottom: 2.4rem;
      line-height: 1.3025;
      letter-spacing: -0.04rem;
      color: #667085;
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .frame-37-Kuu {
      background-size: 100% 100%;
      background-color: #d0ddff;
      margin-bottom: 2.5rem;
      box-sizing: border-box;
      overflow: hidden;
      background: linear-gradient(90.2deg, #000000 0.17%, rgba(0, 0, 0, 0) 99.84%);
      background-image: url('REPLACE_IMAGE:88818b119cc5d2ac88340ba56c9d7d7346314c25');
      border: solid 0.1rem #d7e1fb;
      padding: 8rem 6rem 4.4rem 6rem;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 30rem;
      position: relative;
      border-radius: 2.4rem;

      .frame-32-Sjd {
        margin-right: 50.9rem;
        width: 49.1rem;
        height: 100%;

        .distribution-data-bMd {
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          max-width: 49.1rem;
          font-size: 8.8rem;
          font-weight: 700;
          line-height: 1;
          letter-spacing: -0.176rem;
        }
      }
    }
    .table-pVH {
      position: relative;
      flex-direction: column;
      border: solid 0.1rem #eaecf0;
      box-shadow: 0 0.2rem 0.4rem rgba(16, 24, 40, 0.0599999987), 0 0.4rem 0.8rem rgba(16, 24, 40, 0.1000000015);
      background-color: #ffffff;
      border-radius: 0.8rem;
      width: 100%;
      overflow: hidden;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      margin-bottom: 2.6rem;

      .content-y7H {
        height: 62rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        width: 100%;

        .column-XPh {
          width: 56rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .table-header-cell-rgs {
            padding: 1.2rem 42.9rem 1.2rem 2.4rem;
            flex-shrink: 0;
            background-color: #ffffff;
            box-sizing: border-box;
            width: 100%;
            height: 4.4rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #eaecf0;

            .checkbox-Nv7 {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .table-header-7sh {
              align-items: center;
              flex-shrink: 0;
              margin: 0.1rem 0;
              box-sizing: border-box;
              padding-right: 0.3333rem;
              height: calc(100% - 0.2rem);
              display: flex;

              .text-4H9 {
                font-weight: 500;
                line-height: 1.5;
                color: #667084;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.7333rem;
                font-size: 1.2rem;
              }
              .arrow-down-PKR {
                margin-top: 0rem;
                width: 0.9333rem;
                height: 0.9333rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .table-cell-Hfh {
            flex-shrink: 0;
            box-sizing: border-box;
            display: flex;
            border: solid 0.1rem #eaecf0;
            background-color: #f8f9fb;
            padding: 1.6rem 36.2rem 0.6rem 2.4rem;
            width: 100%;
            column-gap: 1.2rem;
            align-items: center;

            .checkbox-cT5 {
              margin-bottom: 1rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .avatar-9xo {
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:e04837e22b69a171bcb6616df2ba441a240212d6');
              margin-bottom: 1rem;
              height: 4rem;
              border-radius: 20rem;
              flex-shrink: 0;
              width: 4rem;
              background-size: 100% 100%;
            }
            .text-and-supporting-text-4ps {
              white-space: nowrap;
              margin-top: 1rem;
              height: 4rem;
              font-weight: 500;
              font-family: DM Sans, 'Source Sans Pro';
              font-size: 1.6rem;
              line-height: 1.25;
              color: #101728;
              flex-shrink: 0;
            }
          }
          .table-cell-9LX {
            align-items: center;
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 34.6rem 0.6rem 2.4rem;
            width: 100%;
            display: flex;
            column-gap: 1.2rem;

            .checkbox-qUF {
              margin-bottom: 1rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .avatar-B2K {
              background-size: 100% 100%;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 4rem;
              height: 4rem;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:6a8c33475a5bd04866ffcbaf905a88c2560ab8c1');
              border-radius: 20rem;
            }
            .text-and-supporting-text-J6w {
              margin-top: 1rem;
              width: 10.6rem;
              height: 4rem;
              white-space: nowrap;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.25;
              color: #101728;
            }
          }
          .table-cell-Ncb {
            padding: 1.6rem 37.7rem 0.6rem 2.4rem;
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            column-gap: 1.2rem;
            align-items: center;
            background-color: #f8f9fb;

            .checkbox-uMd {
              margin-bottom: 1rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .avatar-3ij {
              width: 4rem;
              background-image: url('REPLACE_IMAGE:f8bcea60209de895330e196e9c5167298098f11d');
              flex-shrink: 0;
              background-position: center;
              border-radius: 20rem;
              margin-bottom: 1rem;
              height: 4rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            .text-and-supporting-text-mej {
              margin-top: 1rem;
              height: 4rem;
              font-weight: 500;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.6rem;
              line-height: 1.25;
              color: #101728;
              flex-shrink: 0;
            }
          }
          .table-cell-eyR {
            column-gap: 1.2rem;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            padding: 1.6rem 35.6rem 0.6rem 2.4rem;
            height: 7.2rem;

            .checkbox-base-NeX {
              margin: 1rem 0rem 2rem 0rem;
              overflow: hidden;
              border: solid 0.1rem #cfd4dc;
              background-color: #ffffff;
              border-radius: 0.6rem;
              flex-shrink: 0;
              width: 2rem;
              height: calc(100% - 3rem);
              position: relative;
              box-sizing: border-box;
            }
            .avatar-FiK {
              height: 4rem;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:79f9fc26c678ac743fad0c84b5a767a24c788cec');
              border-radius: 20rem;
              margin-bottom: 1rem;
              background-size: 100% 100%;
              background-position: center;
              flex-shrink: 0;
              width: 4rem;
            }
            .text-and-supporting-text-P3q {
              font-size: 1.6rem;
              white-space: nowrap;
              margin-top: 1rem;
              height: 4rem;
              font-weight: 500;
              line-height: 1.25;
              color: #101728;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .table-cell-sjh {
            width: 100%;
            height: 7.2rem;
            column-gap: 1.2rem;
            align-items: center;
            border: solid 0.1rem #eaecf0;
            box-sizing: border-box;
            padding: 1.6rem 35.2rem 0.6rem 2.4rem;
            display: flex;
            background-color: #f8f9fb;
            flex-shrink: 0;

            .checkbox-base-zpK {
              border: solid 0.1rem #cfd4dc;
              background-color: #ffffff;
              border-radius: 0.6rem;
              flex-shrink: 0;
              height: calc(100% - 3rem);
              overflow: hidden;
              position: relative;
              margin: 1rem 0rem 2rem 0rem;
              width: 2rem;
              box-sizing: border-box;
            }
            .avatar-Ja7 {
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 4rem;
              border-radius: 20rem;
              background-position: center;
              background-image: url('REPLACE_IMAGE:e8aa5d3a3d822909dd3c274e5ac1c80ef63111a4');
              height: 4rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            .text-and-supporting-text-dcP {
              font-weight: 500;
              line-height: 1.25;
              color: #101728;
              margin-top: 1rem;
              height: 4rem;
              font-size: 1.6rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .table-cell-idq {
            padding: 1.6rem 36.9rem 0.6rem 2.4rem;
            width: 100%;
            display: flex;
            column-gap: 1.2rem;
            align-items: center;
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            box-sizing: border-box;

            .checkbox-rEF {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 2rem;
            }
            .avatar-ndh {
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:14be6cced0006d51bbc757acda1e29ba3e229e74');
              margin-bottom: 1rem;
              border-radius: 20rem;
            }
            .text-and-supporting-text-X5V {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 1rem;
              font-size: 1.6rem;
              line-height: 1.25;
              color: #101728;
              height: 4rem;
              font-weight: 500;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .table-cell-d8X {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            column-gap: 1.2rem;
            align-items: center;
            border: solid 0.1rem #eaecf0;
            background-color: #f8f9fb;
            padding: 1.6rem 36.1rem 0.6rem 2.4rem;
            flex-shrink: 0;

            .checkbox-YmH {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1rem;
            }
            .avatar-His {
              background-size: 100% 100%;
              flex-shrink: 0;
              margin-bottom: 1rem;
              height: 4rem;
              background-position: center;
              background-image: url('REPLACE_IMAGE:57e1fddacfe6f53ca58f404a119d0aa9b2a8208c');
              border-radius: 20rem;
              width: 4rem;
              background-repeat: no-repeat;
            }
            .text-and-supporting-text-pio {
              font-weight: 500;
              line-height: 1.25;
              font-family: Inter, 'Source Sans Pro';
              margin-top: 1rem;
              width: 9.1rem;
              height: 4rem;
              flex-shrink: 0;
              font-size: 1.6rem;
              color: #101728;
              white-space: nowrap;
            }
          }
          .table-cell-hnb {
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            width: 100%;
            align-items: center;
            display: flex;
            column-gap: 1.2rem;
            background-color: #f8f9fb;
            box-sizing: border-box;
            padding: 1.6rem 34.7rem 0.6rem 2.4rem;

            .checkbox-EnX {
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .avatar-P9d {
              flex-shrink: 0;
              height: 4rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:57e1fddacfe6f53ca58f404a119d0aa9b2a8208c');
              margin-bottom: 1rem;
              width: 4rem;
              border-radius: 20rem;
            }
            .text-and-supporting-text-udm {
              margin-top: 1rem;
              font-size: 1.6rem;
              color: #101728;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              height: 4rem;
              font-weight: 500;
              line-height: 1.25;
            }
          }
        }
        .column-Poq {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 56rem;

          .table-header-cell-Xf9 {
            padding: 1.3rem 2.4rem;
            font-weight: 500;
            line-height: 1.5;
            background-color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            font-size: 1.2rem;
            color: #667084;
          }
          .table-cell-RVd {
            background-color: #f8f9fb;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.6rem 2.4rem 0.6rem 2.4rem;
            width: 100%;
            height: 7.2rem;
            border: solid 0.1rem #eaecf0;

            .text-and-supporting-text-kno {
              font-size: 1.4rem;
              font-weight: 400;
              font-family: DM Sans, 'Source Sans Pro';
              height: 100%;
              width: 22.3rem;
              line-height: 1.4285714286;
              color: #101728;
              white-space: nowrap;
              margin-right: 28.9rem;
            }
          }
          .table-cell-S9q {
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.6rem 2.4rem 0.6rem 2.4rem;
            width: 100%;
            height: 7.2rem;

            .text-and-supporting-text-NZH {
              margin-right: 32.3rem;
              height: 100%;
              font-size: 1.4rem;
              font-weight: 400;
              color: #101728;
              width: 18.9rem;
              line-height: 1.4285714286;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .table-cell-UMR {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.6rem 2.4rem 0.6rem 2.4rem;
            width: 100%;
            height: 7.2rem;
            border: solid 0.1rem #eaecf0;
            background-color: #f8f9fb;

            .text-and-supporting-text-DK1 {
              width: 18.8rem;
              font-size: 1.4rem;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 32.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #101728;
              height: 100%;
            }
          }
          .table-cell-iFm {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.6rem 2.4rem 0.6rem 2.4rem;
            width: 100%;
            height: 7.2rem;
            border: solid 0.1rem #eaecf0;

            .text-and-supporting-text-3J3 {
              margin-right: 28rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              white-space: nowrap;
              width: 23.2rem;
              height: 100%;
              color: #101728;
              font-family: DM Sans, 'Source Sans Pro';
            }
          }
          .table-cell-jwZ {
            box-sizing: border-box;
            padding: 2.6rem 2.4rem 0.6rem 2.4rem;
            width: 100%;
            height: 7.2rem;
            border: solid 0.1rem #eaecf0;
            background-color: #f8f9fb;
            flex-shrink: 0;

            .text-and-supporting-text-5Ej {
              line-height: 1.4285714286;
              font-family: DM Sans, 'Source Sans Pro';
              margin-right: 31.4rem;
              height: 100%;
              font-weight: 400;
              color: #101728;
              white-space: nowrap;
              width: 19.8rem;
              font-size: 1.4rem;
            }
          }
          .table-cell-aBV {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.6rem 2.4rem 0.6rem 2.4rem;
            width: 100%;
            height: 7.2rem;
            border: solid 0.1rem #eaecf0;

            .text-and-supporting-text-7SK {
              height: 100%;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 28rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #101728;
              width: 23.2rem;
            }
          }
          .table-cell-QwD {
            height: 7.2rem;
            border: solid 0.1rem #eaecf0;
            background-color: #f8f9fb;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.6rem 2.4rem 0.6rem 2.4rem;
            width: 100%;

            .text-and-supporting-text-9to {
              height: 100%;
              line-height: 1.4285714286;
              color: #101728;
              white-space: nowrap;
              margin-right: 26.7rem;
              width: 24.5rem;
              font-family: DM Sans, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .table-cell-rYK {
            padding: 2.6rem 2.4rem 0.6rem 2.4rem;
            width: 100%;
            height: 7.2rem;
            border: solid 0.1rem #eaecf0;
            background-color: #f8f9fb;
            flex-shrink: 0;
            box-sizing: border-box;

            .text-and-supporting-text-zPd {
              white-space: nowrap;
              margin-right: 26.7rem;
              width: 24.5rem;
              height: 100%;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              color: #101728;
              font-weight: 400;
              font-family: DM Sans, 'Source Sans Pro';
            }
          }
        }
      }
      .pagination-5AB {
        align-items: center;
        border: solid 0.1rem #eaecf0;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 2.4rem 1.6rem 2.4rem;
        width: 100%;
        height: 6.4rem;
        display: flex;

        .actions-rKM {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 84.1rem;

          .button-BcX {
            height: 100%;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 8.5rem;

            .button-base-wLo {
              width: 100%;
              overflow: hidden;
              font-weight: 500;
              justify-content: center;
              box-sizing: border-box;
              border-radius: 0.8rem;
              position: relative;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.1rem #cfd4dc;
              line-height: 1.4285714286;
              color: #344053;
              display: flex;
              align-items: center;
              background-color: #ffffff;
              height: 100%;
              font-size: 1.4rem;
              box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0500000007);
            }
          }
          .button-BF9 {
            border-radius: 0.8rem;
            flex-shrink: 0;
            width: 5.9rem;
            height: 100%;

            .button-base-L83 {
              border: solid 0.1rem #cfd4dc;
              border-radius: 0.8rem;
              font-size: 1.4rem;
              display: flex;
              box-sizing: border-box;
              font-family: DM Sans, 'Source Sans Pro';
              line-height: 1.4285714286;
              white-space: nowrap;
              justify-content: center;
              font-weight: 500;
              height: 100%;
              overflow: hidden;
              position: relative;
              color: #344053;
              align-items: center;
              box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0500000007);
              background-color: #ffffff;
              width: 100%;
            }
          }
        }
        .details-P6K {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.4285714286;
          color: #344053;
          font-family: DM Sans, 'Source Sans Pro';
        }
      }
    }
    .frame-40-Q1R {
      margin: 0 0.1rem;
      width: calc(100% - 0.2rem);
      height: 38.3966rem;
      display: flex;
      align-items: center;

      .chart-12-j3h {
        box-sizing: border-box;
        width: 54.9rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin-right: 2rem;
        align-items: center;
        border: solid 0.1rem #eaecf0;
        border-radius: 2rem;
        flex-shrink: 0;
        padding: 3.2rem 2.988rem 3.2rem 3.562rem;

        .card-info-RhD {
          margin: 0rem 31.15rem 2.2rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .type-card-wvT {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1111111111;
            color: #9290a4;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .card-title-GSw {
            font-weight: 700;
            line-height: 1.2727272727;
            color: #1e1b39;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
          }
        }
        .divider-QJF {
          height: 0.1rem;
          background-color: #e5e5ef;
          flex-shrink: 0;
          margin: 0rem 0.603rem 1.208rem 0rem;
          width: 47.7468rem;
        }
        .auto-group-nhkh-XNs {
          flex-shrink: 0;
          margin-bottom: 0.8464rem;
          width: 100%;
          height: 20.8423rem;
          display: flex;
          align-items: center;

          .frame-42-TnK {
            height: calc(100% - 0.0423rem);
            row-gap: 3.2rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.042rem 1.412rem 0rem 0rem;

            .k-Agj {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
            }
            .k-HmM {
              flex-shrink: 0;
              text-align: right;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .k-Q5H {
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
            }
            .k-unj {
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
              font-size: 1.4rem;
              font-weight: 400;
            }
            .item-0-SGs {
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
            }
          }
          .auto-group-tdij-m4F {
            width: 44.3375rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .bars-7P1 {
              width: 44.3375rem;
              height: 20.8423rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
            }
            .hover-stat-qZu {
              left: 10.252rem;
              font-size: 1.6rem;
              line-height: 1.125;
              justify-content: center;
              height: 4.1946rem;
              position: absolute;
              align-items: center;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              text-align: center;
              font-weight: 500;
              white-space: nowrap;
              background-image: url('REPLACE_IMAGE:65:24574');
              color: #1e1b39;
              font-family: DM Sans, 'Source Sans Pro';
              display: flex;
              width: 10.4598rem;
              top: 1.0371rem;
            }
          }
        }
        .days-6Vq {
          margin: 0rem 2.253rem 0rem 5.809rem;
          width: calc(100% - 8.0624rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .mon-1co {
            margin-right: 6.7968rem;
            text-align: center;
            line-height: 1.1428571429;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
            color: #615e82;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .tue-joh {
            line-height: 1.1428571429;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 6.7468rem;
            text-align: center;
            font-size: 1.4rem;
          }
          .wed-fhM {
            line-height: 1.1428571429;
            white-space: nowrap;
            margin-right: 6.6968rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .thu-bqu {
            font-weight: 400;
            line-height: 1.1428571429;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.4rem;
            text-align: center;
            color: #615e82;
            white-space: nowrap;
            margin-right: 7.3468rem;
          }
          .fri-XzT {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .chart-9-qVM {
        box-sizing: border-box;
        width: 54.9rem;
        border: solid 0.1rem #eaecf0;
        border-radius: 2rem;
        flex-shrink: 0;
        padding: 3.2rem 3.439rem 4rem 3.562rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .auto-group-acdh-9F9 {
          width: calc(100% - 0.1864rem);
          height: 5.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.186rem 2.2rem 0rem;

          .card-info-Foy {
            margin-right: 19.5222rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .type-card-oab {
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.4rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.1111111111;
              color: #9290a4;
            }
            .card-title-98f {
              font-weight: 700;
              line-height: 1.2727272727;
              color: #1e1b39;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.2rem;
            }
          }
          .drop-selector-geP {
            border-radius: 2rem;
            flex-shrink: 0;
            margin: 0.599rem 0rem 0.6rem 0rem;
            padding: 1.201rem 1.6rem 1.201rem 2.523rem;
            align-items: center;
            background-color: #f8f8ff;
            box-sizing: border-box;
            height: calc(100% - 1.1989rem);
            display: flex;

            .name-nSX {
              margin-right: 3.4rem;
              display: flex;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              flex-shrink: 0;
            }
            .chevron-7Du {
              width: 0.9678rem;
              height: 0.5457rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0rem;
            }
          }
        }
        .divider-REb {
          height: 0.1rem;
          background-color: #e5e5ef;
          flex-shrink: 0;
          margin: 0rem 0.152rem 3.5rem 0rem;
          width: 47.7468rem;
        }
        .auto-group-itm1-M8F {
          margin: 0rem 0.152rem 1.45rem 0rem;
          width: calc(100% - 0.1523rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .amounts-fPq {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 1.963rem 0.011rem 0rem;
            row-gap: 3.5rem;

            .m-yvK {
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
              font-size: 1.4rem;
              font-weight: 400;
            }
            .m-8HR {
              text-align: right;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .m-UMH {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
            }
            .item-0-dEB {
              flex-shrink: 0;
              text-align: right;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-w2ck-mLP {
            height: 17.1466rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 43.5837rem;
          }
        }
        .years-J5R {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-left: 4.44rem;

          .item-2017-331 {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            margin-right: 4.7719rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-2018-kTD {
            line-height: 1.1428571429;
            color: #615e82;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.7218rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-2019-snj {
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 4.6218rem;
            line-height: 1.1428571429;
            font-weight: 400;
            white-space: nowrap;
            text-align: center;
            font-size: 1.4rem;
          }
          .item-2020-1P9 {
            margin-right: 4.6219rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.1428571429;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            color: #615e82;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-2021-wXh {
            font-size: 1.4rem;
            flex-shrink: 0;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 4.6218rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.1428571429;
          }
          .item-2022-fib {
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
