
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 48.5rem;
}.frame-49-cvf {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-fsfh-ABV {
    width: 161rem;
    height: 20.75rem;
    flex-shrink: 0;
    margin-bottom: 1.5rem;

    .frame-20-gfd {
      box-sizing: border-box;
      padding-right: 4.9rem;
      overflow: hidden;
      display: flex;
      border: solid 0.1rem #eaecf0;
      border-radius: 1rem;
      width: 48.5rem;
      height: 100%;
      position: relative;
      align-items: center;
      box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.0500000007);
      background-color: #ffffff;

      .auto-group-jojt-DQf {
        margin-right: 5rem;
        background-repeat: no-repeat;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 7.8rem 2.2rem 8.7rem 3rem;
        width: 20rem;
        height: 21.8rem;
        background-size: cover;
        background-position: center;
        background-image: url('REPLACE_IMAGE:329:5384');

        .transmission-loss-factor--XRM {
          max-width: 14.8rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.3025;
          letter-spacing: -0.02rem;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
        }
      }
      .frame-79-otf {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.9rem 0rem 3.85rem 0rem;
        height: calc(100% - 7.75rem);

        .transmission-loss-factor-Ldh {
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          line-height: 1.3025;
          font-family: DM Sans, 'Source Sans Pro';
          font-weight: 500;
          letter-spacing: -0.016rem;
          color: #252733;
          flex-shrink: 0;
        }
        .group-17-euH {
          width: 14.7rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-5600-bpX {
            flex-shrink: 0;
            margin: 0rem 0.6rem 1.1rem 0rem;
            font-size: 4.8rem;
            font-weight: 700;
            color: #ffb700;
            line-height: 1.3025;
            letter-spacing: -0.192rem;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .change-and-text-Vf1 {
            width: 100%;
            height: 2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .change-FPH {
              padding-left: 0.4167rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 0.5rem;
              box-sizing: border-box;

              .arrow-down-zLs {
                height: 1.1667rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.817rem 0rem 0rem;
                width: 1.1667rem;
              }
              .change-JsM {
                flex-shrink: 0;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.4285714286;
                color: #ffb700;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .text-Rwy {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              color: #667084;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .frame-19-Vwq {
    position: relative;
    display: flex;
    border: solid 0.1rem #eaecf0;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.0500000007);
    background-color: #ffffff;
    flex-shrink: 0;
    border-radius: 1rem;
    box-sizing: border-box;
    padding-right: 8.8rem;
    width: 100%;
    height: 20.75rem;
    overflow: hidden;
    align-items: center;

    .frame-78-2gs {
      margin-right: 5rem;
      box-sizing: border-box;
      padding: 7rem 3rem 6.9rem 3rem;
      width: 20rem;
      height: 21.8rem;
      background-color: #4a3aff;
      flex-shrink: 0;

      .number-of-grid-collapses-x4j {
        font-family: DM Sans, 'Source Sans Pro';
        max-width: 10.2rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3025;
        letter-spacing: -0.02rem;
        color: #ffffff;
      }
    }
    .frame-80-GbD {
      height: calc(100% - 7.75rem);
      flex-shrink: 0;
      margin: 3.85rem 0rem 3.9rem 0rem;
      width: 14.7rem;

      .grid-collapse-QBd {
        color: #252733;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.3025;
        letter-spacing: -0.016rem;
      }
      .group-18-vfm {
        width: 100%;
        display: flex;
        flex-direction: column;

        .item-300-tcb {
          margin: 0rem 0rem 1.1rem 0.5rem;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #4a3aff;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          letter-spacing: -0.192rem;
          white-space: nowrap;
        }
        .change-and-text-z9q {
          width: 100%;
          height: 2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .change-vpB {
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.5rem;
            box-sizing: border-box;
            padding-left: 0.4167rem;
            height: 100%;
            display: flex;

            .arrow-down-sjR {
              flex-shrink: 0;
              margin: 0rem 0.817rem 0rem 0rem;
              width: 1.1667rem;
              height: 1.1667rem;
              object-fit: contain;
              vertical-align: top;
            }
            .change-Pxf {
              flex-shrink: 0;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              color: #3751ff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .text-jWj {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4285714286;
            color: #667084;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
