
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 24rem;
}.frame-1-wjq {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #080808;
  box-sizing: border-box;
  padding: 6.7rem 2rem 83.8rem 2rem;
  width: 100%;

  .image-4-gBd {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 4.8rem;
    width: 10rem;
    height: 6rem;
  }
  .auto-group-w859-R9D {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 33.4rem;

    .frame-17-a27 {
      width: 20rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #504973;
      border-radius: 1.2rem;

      .rectangle-1-iPD {
        width: 0.5rem;
        height: 5.2rem;
        background-color: #3751ff;
      }
    }
    .frame-4-rVR {
      width: 15.1rem;
      height: 31.9rem;
      position: absolute;
      left: 2rem;
      top: 1.5rem;

      .frame-2-agK {
        margin: 0rem 3rem 4rem 0rem;
        width: calc(100% - 3rem);
        display: flex;
        align-items: center;

        .chart-2-WZy {
          margin-right: 1rem;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .industry-data-3K1 {
          color: #ffffff;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.255;
          letter-spacing: -0.014rem;
        }
      }
      .frame-3-A8j {
        box-sizing: border-box;
        padding: 0.063rem 0rem 0.063rem 0.188rem;
        width: calc(100% - 1.5rem);
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0rem 1.5rem 4rem 0rem;

        .plugcharging-T7q {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1875rem;
          width: 1.625rem;
          height: 1.875rem;
        }
        .generation-data-BpX {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.255;
          letter-spacing: -0.014rem;
          color: #f9f5ff;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-4-vGK {
        box-sizing: border-box;
        padding: 0.1rem 0rem 0.1rem 0.062rem;
        width: calc(100% - 0.2rem);
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0rem 0.2rem 4rem 0rem;

        .broadcast-p6o {
          width: 1.8755rem;
          height: 1.3521rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.063rem 0rem 0rem;
        }
        .transmission-data-wSK {
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.255;
          letter-spacing: -0.014rem;
          color: #f9f5ff;
        }
      }
      .frame-5-sKy {
        margin: 0rem 1.2rem 4.1rem 0rem;
        box-sizing: border-box;
        padding: 0.1rem 0;
        width: calc(100% - 1.2rem);
        cursor: pointer;
        display: flex;
        align-items: center;

        .usb-BrT {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1rem 0rem 0rem;
          width: 2.0001rem;
          height: 1.5rem;
          position: relative;
          object-fit: contain;
        }
        .distribution-data-ibV {
          line-height: 1.255;
          letter-spacing: -0.014rem;
          color: #f9f5ff;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
      .frame-6-3tf {
        align-items: center;
        margin: 0rem 0rem 4.2rem 0.25rem;
        width: calc(100% - 0.25rem);
        display: flex;

        .circuitry-Bzs {
          height: 1.5rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.25rem;
          width: 1.5rem;
        }
        .sustainability-data-8fD {
          letter-spacing: -0.014rem;
          color: #f9f5ff;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.255;
        }
      }
      .frame-7-TSb {
        align-items: center;
        margin: 0rem 2.3rem 0rem 0.313rem;
        width: calc(100% - 2.6125rem);
        display: flex;

        .bookbookmark-C9H {
          height: 1.625rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3125rem;
          width: 1.375rem;
        }
        .documentation-w6s {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2549999782;
          letter-spacing: -0.014rem;
          color: #f9f5ff;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
