
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84.7rem;
}.map-scroll-8bV {
  box-sizing: border-box;
  padding-right: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;

  .auto-group-csnt-EeX {
    background-position: center;
    flex-shrink: 0;
    box-sizing: border-box;
    background-size: 100% 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:f69f4ce896fe1229ad70dc3d9e9ee53b3bb97ad3');
    margin: 0rem 7.8rem 0.5rem 0rem;
    padding: 1.867rem 13.3rem 6.46rem 10.433rem;

    .icons-pin-ipb {
      height: 2.6267rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 6.707rem 12.767rem;
      width: 2.1333rem;
    }
    .icons-pin-dgf {
      margin: 0rem 0rem 10.527rem 7.767rem;
      width: 3.2rem;
      height: 3.94rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icons-pin-ARh {
      margin: 0rem 40.633rem 3.773rem 0rem;
      width: 2.1333rem;
      height: 2.6267rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icons-pin-VTy {
      height: 2.6267rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 8.607rem 6.367rem;
      width: 2.1333rem;
    }
    .icons-pin-EAf {
      height: 3.94rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 39.5667rem;
      width: 3.2rem;
    }
  }
  .auto-group-gnuk-8mq {
    flex-direction: column;
    flex-shrink: 0;
    margin: 41.04rem 0.8rem 0rem 0rem;
    align-items: center;
    display: flex;

    .icons-pin-fWs {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 4.36rem 2.4rem;
      width: 3.2rem;
      height: 3.94rem;
      object-fit: contain;
    }
    .icons-pin-Bk7 {
      margin-right: 2.4rem;
      width: 3.2rem;
      height: 3.94rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .icons-pin-89Z {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 38.66rem;
    width: 3.2rem;
    height: 3.94rem;
  }
}
