
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sus-page-bLF {
  box-sizing: border-box;
  padding-right: 4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fafafd;

  .component-1-VwR {
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #080808;
    margin-right: 4rem;
    height: 152.1rem;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 2.9rem 81.6rem 2.9rem;
    width: 24rem;

    .frame-33-nfd {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4rem;

      .image-4-jqm {
        margin-right: 7rem;
        width: 8rem;
        height: 4.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .list-sSB {
        width: 3.2rem;
        height: 3.2rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-4-c8s {
      margin: 0 1.65rem;
      width: calc(100% - 3.3rem);
      row-gap: 4rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .pages-8su {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.3020000458;
        letter-spacing: -0.012rem;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-bhwh-TfH {
        width: 100%;
        height: 20rem;
        position: relative;
        flex-shrink: 0;

        .component-2-QKd {
          top: 0;
          width: 14.9rem;
          height: 19.1rem;
          cursor: pointer;
          position: absolute;
          left: 0;

          .frame-7-8mR {
            margin: 0rem 3.3rem 2rem 0rem;
            width: calc(100% - 3.3rem);
            display: flex;
            align-items: flex-end;

            .chart-2-fFZ {
              margin-right: 1rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .industry-data-zYj {
              letter-spacing: -0.014rem;
              color: #f9f5ff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.3025;
            }
          }
          .auto-group-tcom-vSP {
            width: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 2rem 0rem 5.1rem 0rem;

            .frame-3-e7V {
              margin: 0rem 1.4rem 4rem 0rem;
              box-sizing: border-box;
              padding: 0.063rem 0rem 0.063rem 0.188rem;
              width: calc(100% - 1.4rem);
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .plugcharging-YTm {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.1875rem;
                width: 1.625rem;
                height: 1.875rem;
                position: relative;
                object-fit: contain;
              }
              .generation-data-t1q {
                font-weight: 400;
                line-height: 1.3020000458;
                letter-spacing: -0.014rem;
                color: #f9f5ff;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
              }
            }
            .frame-4-cCj {
              align-items: center;
              flex-shrink: 0;
              margin-right: 0.2rem;
              box-sizing: border-box;
              padding: 0.1rem 0rem 0rem 0.062rem;
              width: calc(100% - 0.2rem);
              cursor: pointer;
              display: flex;

              .broadcast-wF1 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.063rem 0.1rem 0rem;
                width: 1.8755rem;
                height: 1.3521rem;
                position: relative;
              }
              .transmission-data-Tz3 {
                font-weight: 400;
                line-height: 1.3025;
                letter-spacing: -0.014rem;
                color: #f9f5ff;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
              }
            }
          }
        }
        .frame-5-nmR {
          position: absolute;
          left: 0;
          top: 18rem;
          padding: 0.1rem 0;
          width: 13.8rem;
          cursor: pointer;
          align-items: center;
          box-sizing: border-box;
          height: 2rem;
          display: flex;

          .usb-htP {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0rem 0rem;
            width: 2.0001rem;
            height: 1.5rem;
          }
          .distribution-data-2fm {
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3020000458;
            letter-spacing: -0.014rem;
            color: #f9f5ff;
          }
        }
      }
      .frame-6-Mi3 {
        display: flex;
        align-items: center;
        border-radius: 0.8rem;
        flex-shrink: 0;
        background-color: #504973;
        margin-right: 0.1rem;
        box-sizing: border-box;
        padding: 1.1rem 1rem 1rem 1.219rem;
        width: calc(100% - 0.1rem);

        .circuitry-Hbh {
          margin: 0rem 1.219rem 0.1rem 0rem;
          width: 1.5625rem;
          height: 1.5625rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .customer-data-QwD {
          letter-spacing: -0.014rem;
          color: #f9f5ff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.3025;
        }
      }
      .component-3-7qd {
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-7-Fwq {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 5.5rem 2rem 0rem;
          width: calc(100% - 5.5rem);

          .chart-2-ngs {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
          }
          .industry-data-jMD {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: -0.014rem;
            color: #f9f5ff;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-uvzj-G6F {
          box-sizing: border-box;
          padding: 2rem 0;
          width: 100%;
          height: 15.1rem;
          flex-shrink: 0;

          .frame-8-D1V {
            border-radius: 1.2rem;
            box-sizing: border-box;
            padding-right: 0.1rem;
            width: 12.1rem;
            height: 2rem;
            cursor: pointer;
            display: flex;
            align-items: flex-end;

            .bookbookmark-kGK {
              height: 2rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2rem;
            }
            .energy-report-H1M {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.3025;
              letter-spacing: -0.014rem;
              color: #f9f5ff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .frame-38-P4P {
    overflow: hidden;
    position: relative;
    row-gap: 4rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 112rem;

    .energy-performance-tracker-XAb {
      white-space: nowrap;
      line-height: 1.3025;
      text-transform: uppercase;
      color: #667085;
      letter-spacing: -0.032rem;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin-left: 3rem;
      font-size: 1.6rem;
      font-weight: 500;
    }
    .frame-37-dUX {
      position: relative;
      overflow: hidden;
      border: solid 0.1rem #d7e1fb;
      box-sizing: border-box;
      border-radius: 2.4rem;
      flex-shrink: 0;
      width: 100%;
      height: 30rem;

      .image-14-aef {
        width: 118rem;
        height: 30rem;
        position: absolute;
        left: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        top: 0;
        background: linear-gradient(92.77deg, #000000 1.9%, rgba(0, 0, 0, 0) 79.59%);
        background-position: center;
        background-image: url('REPLACE_IMAGE:5dc5b0db8cfbbe67ec91cf9cdde2b6f2bec0eb58');
      }
      .frame-32-s7y {
        width: 56.9rem;
        height: 17.6rem;
        position: absolute;
        left: 7rem;
        top: 6.2rem;

        .sustainability-data-bpf {
          font-family: DM Sans, 'Source Sans Pro';
          max-width: 56.9rem;
          font-size: 8.8rem;
          font-weight: 700;
          line-height: 1;
          letter-spacing: -0.176rem;
          color: #fcfaff;
        }
      }
    }
    .frame-39-6WX {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .frame-36-f3q {
        width: calc(100% - 6rem);
        height: 41rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 3rem 8rem 3rem;

        .frame-32-nu9 {
          height: calc(100% - 3.3rem);
          row-gap: 2rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.9rem 2.9rem 1.4rem 0rem;

          .data-statistics-WaF {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.04rem;
            color: #93aafd;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .distribution-trends-3KH {
            color: #252733;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4.8rem;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.096rem;
          }
          .investment-in-clean-energy-technologies-is-significantly-outpacing-spending-on-fossil-fuels-as-affordability-and-security-concerns-triggered-by-the-global-energy-crisis-strengthen-the-momentum-behind-more-sustainable-options-according-to-the-iea-world-energy-investment-2023-report-annual-clean-energy-investment-is-expected-to-rise-by-24-between-2021-and-2023-driven-by-renewables-and-electric-vehicles-compared-with-a-15-rise-in-fossil-fuel-investment-over-the-same-period-but-more-than-90-of-this-increase-comes-from-advanced-economies-and-china-presenting-a-serious-risk-of-new-dividing-lines-in-global-energy-if-clean-energy-transitions-dont-pick-up-elsewhere-NsM {
            letter-spacing: -0.032rem;
            color: #252733;
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 49.6rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
          }
        }
        .chart-9-QBm {
          box-sizing: border-box;
          padding: 3.2rem 3.032rem 3.2rem 3.388rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 53.5rem;
          height: 100%;
          align-items: center;
          box-shadow: 0 0.2rem 0.6rem rgba(13, 10, 44, 0.0799999982);
          background-color: #ffffff;
          border-radius: 2rem;

          .auto-group-npqy-WVh {
            width: calc(100% - 3.1217rem);
            height: 5.2rem;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 3.006rem 2.2rem 0.115rem;

            .card-info-q2B {
              margin-right: 9.2578rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .type-card-Nno {
                margin-bottom: 0.4rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.1111111111;
                color: #9290a4;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .card-title-VsR {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 1.2727272727;
                color: #1e1b39;
              }
            }
            .identifiers-SGs {
              margin-bottom: 0.2rem;
              height: 1.629rem;
              display: flex;
              align-items: center;
              border-radius: 1rem;
              flex-shrink: 0;

              .label-1-ady {
                margin: 0rem 3.2rem 0.029rem 0rem;
                height: calc(100% - 0.029rem);
                display: flex;
                align-items: center;
                border-radius: 1rem;
                flex-shrink: 0;

                .identifier-hib {
                  margin-right: 0.8rem;
                  width: 0.8rem;
                  height: 0.8rem;
                  background-color: #49d3ff;
                  border-radius: 1rem;
                  flex-shrink: 0;
                }
                .name-d6T {
                  line-height: 1.1428571429;
                  color: #615e82;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                }
              }
              .label-2-Yz7 {
                flex-shrink: 0;
                margin-top: 0.029rem;
                height: calc(100% - 0.029rem);
                display: flex;
                align-items: center;
                border-radius: 1rem;

                .identifier-6Ew {
                  margin-right: 0.9rem;
                  width: 0.8rem;
                  height: 0.8rem;
                  background-color: #4a3aff;
                  border-radius: 1rem;
                  flex-shrink: 0;
                }
                .name-RY7 {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.1428571429;
                  color: #615e82;
                }
              }
            }
          }
          .divider-MRm {
            flex-shrink: 0;
            margin: 0rem 0rem 3.1rem 0.115rem;
            width: 46.9641rem;
            height: 0.1rem;
            background-color: #e5e5ef;
          }
          .auto-group-yrgs-suu {
            width: calc(100% - 0rem);
            height: 20.4927rem;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 0rem 1.907rem 0rem;

            .amount-zzX {
              margin-right: 2.1397rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .k-9Md {
                flex-shrink: 0;
                margin-bottom: 4.4037rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.125;
                color: #615e82;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .k-t4K {
                margin-bottom: 4.2rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.125;
                color: #615e82;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .k-QoM {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 4.689rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.125;
                color: #615e82;
                font-family: Inter, 'Source Sans Pro';
              }
              .item-0-ZAT {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.125;
                color: #615e82;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .auto-group-2b4f-J83 {
              flex-shrink: 0;
              margin-bottom: 0.2927rem;
              width: 41.0398rem;
              height: 19.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .months-2Jw {
            margin-left: 5.4628rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .jan-Zpf {
              margin-right: 5.2839rem;
              font-size: 1.4rem;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              text-align: center;
              font-weight: 400;
              line-height: 1.1428571429;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .feb-6Zh {
              margin-right: 5.2898rem;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.1428571429;
              flex-shrink: 0;
            }
            .mar-Rrs {
              line-height: 1.1428571429;
              color: #615e82;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              text-align: center;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
              margin-right: 5.2869rem;
            }
            .apr-AZZ {
              margin-right: 5.2927rem;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
            }
            .may-5wR {
              color: #615e82;
              text-align: center;
              font-weight: 400;
              line-height: 1.1428571429;
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 5.2222rem;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
            }
            .jun-Qyh {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
            }
          }
        }
      }
      .frame-35-hhu {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        background-color: #eff2f7;
        border-radius: 2.4rem;
        box-sizing: border-box;
        padding: 5rem 2.9rem 5rem 3rem;
        width: 100%;
        height: 51rem;

        .chart-3-cps {
          background-color: #ffffff;
          margin-right: 3rem;
          box-sizing: border-box;
          padding: 3.211rem 3.295rem 3.2rem 3.369rem;
          height: 100%;
          align-items: center;
          display: flex;
          box-shadow: 0 0.2rem 0.6rem rgba(13, 10, 44, 0.0799999982);
          flex-shrink: 0;
          width: 51.5rem;
          flex-direction: column;
          border-radius: 2rem;

          .auto-group-ampy-LF5 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 2.2rem;
            width: 100%;
            height: 5.2rem;

            .card-info-g43 {
              margin-right: 19.868rem;
              width: 15.5677rem;
              height: 100%;
              flex-shrink: 0;

              .type-card-cyH {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.4rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.1111111111;
                color: #9290a4;
              }
              .auto-group-gbp7-kpb {
                display: flex;
                align-items: center;
                width: 100%;

                .card-title-Wom {
                  color: #1e1b39;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 0.5677rem;
                  font-size: 2.2rem;
                  font-weight: 700;
                  line-height: 1.2727272727;
                }
                .comparion-info-FmM {
                  font-weight: 400;
                  line-height: 1.1428571429;
                  color: #9290a4;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.6rem;
                  font-size: 1.4rem;
                }
              }
            }
            .identifiers-zD9 {
              margin: 0.484rem 0rem 0.658rem 0rem;
              width: 9.401rem;
              height: calc(100% - 1.1421rem);
              border-radius: 1rem;
              flex-shrink: 0;

              .label-1-i99 {
                align-items: center;
                border-radius: 1rem;
                margin: 0rem 0.101rem 0.858rem 0rem;
                width: calc(100% - 0.101rem);
                display: flex;

                .identifier-3SK {
                  margin-right: 0.8rem;
                  width: 1rem;
                  height: 1rem;
                  background-color: #5d5fef;
                  border-radius: 1rem;
                  flex-shrink: 0;
                }
                .name-nPu {
                  line-height: 1.1428571429;
                  color: #615e82;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                }
              }
              .label-2-7wy {
                margin-left: 0.001rem;
                width: calc(100% - 0.001rem);
                display: flex;
                align-items: center;
                border-radius: 1rem;

                .identifier-U1q {
                  margin-right: 0.9rem;
                  width: 1rem;
                  height: 1rem;
                  background-color: #49d3ff;
                  border-radius: 0.8rem;
                  flex-shrink: 0;
                }
                .name-QRH {
                  line-height: 1.1428571429;
                  color: #615e82;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                }
              }
            }
          }
          .divider-7qV {
            background-color: #e5e5ef;
            flex-shrink: 0;
            margin: 0rem 0.074rem 3.038rem 0rem;
            width: 44.7625rem;
            height: 0.1rem;
          }
          .auto-group-c7nt-3j9 {
            margin: 0rem 0.074rem 1.289rem 0.023rem;
            width: calc(100% - 0.0967rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .amounts-nAw {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 1.0097rem;
              align-items: flex-end;

              .k-w3q {
                margin: 0rem 0rem 4.304rem 0rem;
                line-height: 1.1428571429;
                color: #615e82;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: right;
                font-size: 1.4rem;
                font-weight: 400;
                white-space: nowrap;
              }
              .k-TH5 {
                line-height: 1.1428571429;
                white-space: nowrap;
                margin: 0rem 0rem 4.304rem 0rem;
                font-size: 1.4rem;
                color: #615e82;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: right;
                font-weight: 400;
              }
              .k-Nuq {
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 1.4rem;
                line-height: 1.1428571429;
                color: #615e82;
                white-space: nowrap;
                margin: 0rem 0rem 4.303rem 0rem;
                text-align: right;
                font-weight: 400;
              }
              .item-0-JoV {
                font-weight: 400;
                line-height: 1.1428571429;
                color: #615e82;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: right;
                font-size: 1.4rem;
              }
            }
            .auto-group-gtrk-FTq {
              width: 41.4302rem;
              height: 20.3616rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.8rem;
            }
          }
          .weeks-BMV {
            margin-left: 3.2635rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .week-1-KyV {
              font-size: 1.4rem;
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 6.5474rem;
              text-align: center;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.1428571429;
            }
            .week-2-riX {
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 8.7689rem;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              white-space: nowrap;
            }
            .week-3-zZq {
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
              margin-right: 6.3761rem;
              text-align: center;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .week-4-XJs {
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-32-cbD {
          margin: 1.9rem 0rem 1.4rem 0rem;
          height: calc(100% - 3.3rem);
          row-gap: 2rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .data-statistics-YUs {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.04rem;
            color: #93aafd;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .load-profile-UdR {
            line-height: 1;
            letter-spacing: -0.096rem;
            color: #252733;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4.8rem;
            font-weight: 500;
          }
          .investment-in-clean-energy-technologies-is-significantly-outpacing-spending-on-fossil-fuels-as-affordability-and-security-concerns-triggered-by-the-global-energy-crisis-strengthen-the-momentum-behind-more-sustainable-options-according-to-the-iea-world-energy-investment-2023-report-annual-clean-energy-investment-is-expected-to-rise-by-24-between-2021-and-2023-driven-by-renewables-and-electric-vehicles-compared-with-a-15-rise-in-fossil-fuel-investment-over-the-same-period-but-more-than-90-of-this-increase-comes-from-advanced-economies-and-china-presenting-a-serious-risk-of-new-dividing-lines-in-global-energy-if-clean-energy-transitions-dont-pick-up-elsewhere-1dM {
            line-height: 1.3999999762;
            letter-spacing: -0.032rem;
            color: #252733;
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 51.6rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
