
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.trans-page-Ci7 {
  box-sizing: border-box;
  padding-right: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fafafd;

  .component-1-gtB {
    margin-right: 4rem;
    width: 24rem;
    height: 171.9352rem;
    align-items: center;
    background-color: #080808;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 2.9rem 101.435rem 2.9rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    .frame-33-KgF {
      margin-bottom: 4rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-4-4tj {
        width: 8rem;
        height: 4.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 7rem;
      }
      .list-btf {
        width: 3.2rem;
        height: 3.2rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-4-jEB {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0 0.65rem;
      width: calc(100% - 1.3rem);
      display: flex;

      .pages-539 {
        font-weight: 700;
        line-height: 1.3025;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 4rem;
        font-size: 1.2rem;
        letter-spacing: -0.012rem;
      }
      .auto-group-zz3h-aVh {
        width: 100%;
        height: 19.1rem;
        position: relative;
        flex-shrink: 0;

        .component-2-v3m {
          width: 14.9rem;
          height: 19.1rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;

          .frame-7-rCK {
            margin: 0rem 3.3rem 2rem 0rem;
            width: calc(100% - 3.3rem);
            display: flex;
            align-items: flex-end;

            .chart-2-nLs {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .industry-data-7e3 {
              line-height: 1.3025;
              letter-spacing: -0.014rem;
              color: #f9f5ff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .auto-group-nqmv-dsH {
            box-sizing: border-box;
            padding: 2rem 0;
            width: 100%;
            height: 15.1rem;

            .frame-3-xef {
              width: 13.5rem;
              height: 2rem;
              cursor: pointer;
              display: flex;
              align-items: center;
              box-sizing: border-box;
              padding: 0.063rem 0rem 0rem 0.188rem;

              .plugcharging-5jH {
                height: 1.875rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.188rem 0.063rem 0rem;
                width: 1.625rem;
              }
              .generation-data-Cou {
                letter-spacing: -0.014rem;
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.3025;
                color: #f9f5ff;
                font-family: DM Sans, 'Source Sans Pro';
                margin-top: 0.0375rem;
              }
            }
          }
        }
        .frame-4-JM9 {
          box-sizing: border-box;
          height: 4rem;
          cursor: pointer;
          display: flex;
          background-color: #504973;
          padding: 1.1rem 1rem 1rem 1.062rem;
          width: 16.9rem;
          position: absolute;
          left: 0;
          top: 12rem;
          align-items: center;
          border-radius: 0.8rem;

          .broadcast-Qf5 {
            flex-shrink: 0;
            margin: 0rem 1.063rem 0.1rem 0rem;
            width: 1.8755rem;
            height: 1.3521rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .transmission-data-jST {
            color: #f9f5ff;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.3025;
            letter-spacing: -0.014rem;
          }
        }
      }
      .auto-group-avip-Ee7 {
        width: 100%;
        row-gap: 4rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.9rem;

        .frame-5-NVR {
          margin-right: 3.1rem;
          box-sizing: border-box;
          padding-top: 0.1rem;
          width: calc(100% - 3.1rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .usb-i3V {
            flex-shrink: 0;
            margin: 0rem 1rem 0.1rem 0rem;
            width: 2.0001rem;
            height: 1.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .distribution-data-E1q {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3025;
            letter-spacing: -0.014rem;
            color: #f9f5ff;
            font-family: DM Sans, 'Source Sans Pro';
          }
        }
        .frame-6-kks {
          margin-right: 4.2rem;
          box-sizing: border-box;
          cursor: pointer;
          align-items: center;
          border-radius: 1.2rem;
          flex-shrink: 0;
          padding: 0.1rem 0rem 0.1rem 0.219rem;
          width: calc(100% - 4.2rem);
          display: flex;

          .circuitry-5o9 {
            margin-right: 1.2188rem;
            width: 1.5625rem;
            height: 1.5625rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .customer-data-DuM {
            font-weight: 400;
            line-height: 1.255;
            letter-spacing: -0.014rem;
            color: #f9f5ff;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
        }
        .component-3-vom {
          width: 14.9rem;
          cursor: pointer;
          flex-shrink: 0;

          .frame-7-H8X {
            margin: 0rem 5.5rem 2rem 0rem;
            width: calc(100% - 5.5rem);
            display: flex;
            align-items: flex-end;

            .chart-2-Qyq {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .industry-data-ZLw {
              line-height: 1.3025;
              letter-spacing: -0.014rem;
              color: #f9f5ff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .auto-group-fanw-tPD {
            box-sizing: border-box;
            padding: 2rem 0;
            width: 100%;
            height: 15.1rem;

            .frame-8-ET5 {
              width: 12.1rem;
              height: 2rem;
              cursor: pointer;
              display: flex;
              align-items: flex-end;
              border-radius: 1.2rem;
              box-sizing: border-box;
              padding-right: 0.1rem;

              .bookbookmark-NZH {
                flex-shrink: 0;
                margin-right: 1rem;
                width: 2rem;
                height: 2rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 1.2rem;
              }
              .energy-report-6kB {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3025;
                letter-spacing: -0.014rem;
                color: #f9f5ff;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
  .frame-47-CYK {
    width: 112rem;
    flex-shrink: 0;
    margin-bottom: 3.5rem;

    .energy-performance-tracker-LuR {
      font-weight: 500;
      text-transform: uppercase;
      color: #667085;
      font-family: DM Sans, 'Source Sans Pro';
      margin-bottom: 2.9rem;
      line-height: 1.3025;
      letter-spacing: -0.04rem;
      white-space: nowrap;
      font-size: 2rem;
    }
    .frame-37-SxT {
      overflow: hidden;
      border: solid 0.1rem #d7e1fb;
      box-sizing: border-box;
      border-radius: 2.4rem;
      margin-bottom: 3rem;
      width: 100%;
      height: 30rem;
      position: relative;

      .image-12-baT {
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:eeb8ffbae817ed3324febdb11e0176185e68cd60');
        width: 112rem;
        height: 32.1rem;
        background-size: 100% 100%;
        position: absolute;
        background: linear-gradient(90deg, #000000 -0%, rgba(0, 0, 0, 0) 100%);
      }
      .transmission-data-HTH {
        width: 54.9rem;
        height: 17.6rem;
        top: 6.2rem;
        font-weight: 700;
        color: #fcfaff;
        position: absolute;
        left: 7rem;
        font-size: 8.8rem;
        line-height: 1;
        letter-spacing: -0.176rem;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
    .frame-31-xJX {
      margin: 0rem 0rem 3rem 0rem;
      width: calc(100% - 0rem);
      height: 22.522rem;
      display: flex;
      align-items: center;

      .chart-6-5e3 {
        width: 36.3333rem;
        height: 100%;
        border: solid 0.1rem #eaecf0;
        border-radius: 2rem;
        margin-right: 1.5rem;
        box-sizing: border-box;
        padding: 3.2rem 3.502rem 3.2rem 3.588rem;
        background-color: #ffffff;
        flex-shrink: 0;

        .card-info-aao {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.4129rem;

          .type-card-Jmh {
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 0.4rem 0.063rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #9290a4;
          }
          .card-title-nwm {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.3333333333;
            color: #1e1b39;
            font-family: DM Sans, 'Source Sans Pro';
          }
        }
        .auto-group-7nzo-JQK {
          width: 100%;
          height: 10.3091rem;
          display: flex;
          align-items: center;

          .growth-info-2bD {
            margin: 0.863rem 0.484rem 2.246rem 0rem;
            width: 13.1rem;
            height: calc(100% - 3.1091rem);
            flex-shrink: 0;

            .time-M7h {
              line-height: 1.1818181818;
              color: #1e1b39;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.4rem;
              font-size: 4.4rem;
              font-weight: 700;
            }
            .growth-percentage-H1M {
              width: calc(100% - 5.9614rem);
              display: flex;
              align-items: center;
              margin: 0rem 5.932rem 0rem 0.03rem;

              .number-c3d {
                margin-right: 0.5043rem;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.1428571429;
                color: #ff718b;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .arrow-XwH {
                margin-bottom: 0.0085rem;
                width: 1.6001rem;
                height: 1.0085rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .line-chart-fnb {
            width: 15.659rem;
            height: 10.3091rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .chart-5-BF9 {
        margin-right: 1.5rem;
        box-sizing: border-box;
        padding: 3.2rem 3.502rem 3.2rem 3.651rem;
        height: 100%;
        border: solid 0.1rem #eaecf0;
        border-radius: 2rem;
        flex-shrink: 0;
        width: 36.3333rem;
        background-color: #ffffff;

        .card-info-GXV {
          margin-bottom: 0.0304rem;
          display: flex;
          flex-direction: column;

          .type-card-Qtb {
            color: #9290a4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
          }
          .card-title-Yju {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.3333333333;
            color: #1e1b39;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-ipuo-pBd {
          display: flex;
          align-items: center;
          width: 100%;
          height: 11.6916rem;

          .growth-info-Z9D {
            margin: 2.246rem 2.825rem 2.246rem 0rem;
            width: 10.5rem;
            height: calc(100% - 4.4916rem);
            flex-shrink: 0;

            .amount-fxw {
              white-space: nowrap;
              margin-bottom: 0.4rem;
              font-size: 4.4rem;
              font-weight: 700;
              line-height: 1.1818181818;
              color: #1e1b39;
              font-family: DM Sans, 'Source Sans Pro';
            }
            .growth-percentage-RBR {
              margin: 0rem 2.085rem 0rem 0.03rem;
              width: calc(100% - 2.1147rem);
              display: flex;
              align-items: center;

              .number-jxo {
                line-height: 1.1428571429;
                color: #04ce00;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.4378rem;
                font-size: 1.4rem;
                font-weight: 500;
              }
              .arrow-HDd {
                height: 1.0085rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0086rem;
                width: 1.6001rem;
              }
            }
          }
          .line-chart-d2b {
            width: 15.8556rem;
            height: 11.6916rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .chart-4-jLX {
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.2rem 4.796rem 4.315rem 3.515rem;
        width: 36.3333rem;
        height: 100%;
        border: solid 0.1rem #eaecf0;

        .card-info-4No {
          margin-bottom: 0.5141rem;
          display: flex;
          flex-direction: column;

          .type-card-DFh {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #9290a4;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 0.4rem 0.029rem;
          }
          .card-title-wSb {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.3333333333;
            color: #1e1b39;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-nady-gQB {
          width: 100%;
          height: 10.0934rem;
          display: flex;
          align-items: center;

          .growth-info-q2B {
            margin: 1.762rem 4.631rem 1.131rem 0rem;
            width: 8.2rem;
            height: calc(100% - 2.8934rem);
            flex-shrink: 0;

            .amount-kQ3 {
              font-weight: 700;
              line-height: 1.1818181818;
              color: #1e1b39;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.4rem;
              font-size: 4.4rem;
            }
            .growth-percentage-tWF {
              margin: 0rem 0.35rem 0rem 0.029rem;
              width: calc(100% - 0.3787rem);
              display: flex;
              align-items: center;

              .number-26f {
                font-weight: 500;
                line-height: 1.1428571429;
                color: #04ce00;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.768rem;
                font-size: 1.4rem;
              }
              .arrow-Z6b {
                flex-shrink: 0;
                margin-bottom: 0.0086rem;
                width: 1.5533rem;
                height: 1.0085rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .line-chart-hTh {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 15.191rem;
            height: 10.0934rem;
          }
        }
      }
    }
    .frame-46-omd {
      margin-bottom: 3rem;
      width: 100%;
      height: 41rem;
      display: flex;
      align-items: center;

      .chart-8-wsq {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.2rem 3.598rem 3.2rem 3.451rem;
        width: 55rem;
        display: flex;
        border: solid 0.1rem #eaecf0;
        border-radius: 2rem;
        margin: 0rem 2rem 0rem 0rem;
        height: calc(100% - 0rem);
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;

        .auto-group-uswh-e1Z {
          width: calc(100% - 0.124rem);
          height: 5.2rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0.006rem 2.2rem 0.118rem;

          .card-info-AEo {
            margin-right: 12.9681rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .type-card-iGK {
              flex-shrink: 0;
              margin-bottom: 0.4rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.1111111111;
              color: #9290a4;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .card-title-evf {
              line-height: 1.2727272727;
              color: #1e1b39;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.2rem;
              font-weight: 700;
            }
          }
          .identifiers-PtF {
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            height: 1.629rem;
            display: flex;
            align-items: center;
            border-radius: 1rem;

            .label-1-C51 {
              margin: 0rem 3.559rem 0.029rem 0rem;
              height: calc(100% - 0.029rem);
              display: flex;
              align-items: center;
              border-radius: 1rem;
              flex-shrink: 0;

              .identifier-8DZ {
                margin-right: 0.8rem;
                width: 0.8rem;
                height: 0.8rem;
                background-color: #49d3ff;
                border-radius: 1rem;
                flex-shrink: 0;
              }
              .name-rfM {
                color: #615e82;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.1428571429;
              }
            }
            .label-2-nJ7 {
              display: flex;
              align-items: center;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-top: 0.029rem;
              height: calc(100% - 0.029rem);

              .identifier-vfD {
                flex-shrink: 0;
                margin-right: 0.9rem;
                width: 0.8rem;
                height: 0.8rem;
                background-color: #4a3aff;
                border-radius: 1rem;
              }
              .name-fMu {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.1428571429;
                color: #615e82;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .divider-nSX {
          flex-shrink: 0;
          margin: 0rem 0rem 3.1rem 0.118rem;
          width: 47.8338rem;
          height: 0.1rem;
          background-color: #e5e5ef;
        }
        .auto-group-awus-KBZ {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0rem 1.907rem 0rem;
          width: calc(100% - 0.0001rem);
          height: 20.4927rem;

          .amount-pe7 {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 2.2515rem;
            height: 100%;
            display: flex;

            .k-xkK {
              flex-shrink: 0;
              margin-bottom: 4.4037rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.125;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .k-uQf {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.125;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 4.2rem;
            }
            .k-Ehq {
              font-weight: 400;
              line-height: 1.125;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 4.689rem;
              font-size: 1.6rem;
            }
            .item-0-yfR {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.125;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-j3du-Jxb {
            width: 41.7998rem;
            height: 19.3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.2927rem;
          }
        }
        .months-3QP {
          align-items: center;
          flex-shrink: 0;
          margin-left: 5.492rem;
          display: flex;

          .jan-nMy {
            text-align: center;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 5.4271rem;
            line-height: 1.1428571429;
            color: #615e82;
            white-space: nowrap;
            font-weight: 400;
          }
          .feb-JLK {
            font-size: 1.4rem;
            flex-shrink: 0;
            margin-right: 5.333rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
          }
          .mar-EUs {
            text-align: center;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 5.3292rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .apr-ki7 {
            line-height: 1.1428571429;
            font-family: Inter, 'Source Sans Pro';
            color: #615e82;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.4388rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .may-tZR {
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            line-height: 1.1428571429;
            white-space: nowrap;
            margin-right: 5.4389rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .jun-dG7 {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .chart-3-uUX {
        box-sizing: border-box;
        padding: 3.2rem 3.598rem 4.728rem 3.569rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #eaecf0;
        background-color: #ffffff;
        border-radius: 2rem;
        width: 55rem;
        height: 100%;
        align-items: center;

        .auto-group-qo8x-CTd {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.047rem 2.4rem 0rem;
          width: calc(100% - 0.0473rem);
          height: 5rem;

          .card-info-Wz7 {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 23.9723rem;

            .type-card-S75 {
              line-height: 1.1111111111;
              color: #9290a4;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.8rem;
              font-weight: 400;
            }
            .card-title-A35 {
              flex-shrink: 0;
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.2727272727;
              color: #1e1b39;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .drop-selector-HtP {
            flex-shrink: 0;
            padding: 1.201rem 1.6rem 1.201rem 2.546rem;
            height: calc(100% - 0.9989rem);
            align-items: center;
            background-color: #f8f8ff;
            margin: 0.599rem 0rem 0.4rem 0rem;
            box-sizing: border-box;
            display: flex;
            border-radius: 2rem;

            .name-zXu {
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: DM Sans, 'Source Sans Pro';
              margin-right: 3.7rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .chevron-vAf {
              width: 0.9678rem;
              height: 0.5457rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .divider-2zP {
          margin-bottom: 2.6131rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e5e5ef;
          flex-shrink: 0;
        }
        .percentage-B6b {
          font-weight: 700;
          line-height: 1.2857142857;
          color: #1e1b39;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 38.344rem 2.815rem 0rem;
          font-size: 4.2rem;
        }
        .auto-group-hh3h-Vsy {
          width: calc(100% - 0.3524rem);
          height: 12.0186rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 0rem 1.125rem 0.352rem;

          .amounts-pQT {
            flex-shrink: 0;
            margin: 0.024rem 1.167rem 0rem 0rem;
            height: calc(100% - 0.0242rem);
            row-gap: 3.5972rem;
            display: flex;
            flex-direction: column;

            .item-100-KMD {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-50-r6F {
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
            .item-0-bJj {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1428571429;
              color: #615e82;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .auto-group-sztu-w7h {
            width: 43.8147rem;
            height: 11.894rem;
            position: relative;
            flex-shrink: 0;

            .chart-lines-UNX {
              left: 0;
              top: 0.9559rem;
              border-top: dashed 0.15rem #e5e5ef;
              border-bottom: solid 0.15rem #e5e5ef;
              height: 10.9382rem;
              position: absolute;
              width: 43.6631rem;
              box-sizing: border-box;
              padding: 5.319rem 0rem 5.469rem 0rem;

              .line-2-Bnj {
                width: 100%;
                height: 0.15rem;
                background-color: #e5e5ef;
              }
            }
            .flow-graph-6uh {
              object-fit: contain;
              vertical-align: top;
              width: 43.8147rem;
              height: 11.3077rem;
              position: absolute;
              left: 0;
              top: 0.3676rem;
            }
            .active-line-elements-STm {
              left: 27.2615rem;
              top: 4.9925rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.6176rem;
              height: 1.5rem;
              position: absolute;
            }
            .hover-stat-ZHV {
              width: 8.6224rem;
              font-size: 1.6rem;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
              height: 4.2005rem;
              position: absolute;
              white-space: nowrap;
              left: 23.7592rem;
              line-height: 1.125;
              color: #ffffff;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:65:24234');
              top: 0;
              text-align: center;
              font-weight: 400;
              justify-content: center;
              background-size: cover;
            }
          }
        }
        .dates-pUK {
          align-items: center;
          flex-shrink: 0;
          margin-left: 4.0888rem;
          display: flex;

          .aug-Zgo {
            margin-right: 5.2198rem;
            font-weight: 400;
            white-space: nowrap;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.1428571429;
            color: #9290a4;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .aug-tUB {
            text-align: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.8707rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #9290a4;
          }
          .aug-pcj {
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.4901rem;
            font-size: 1.4rem;
            color: #1e1b39;
            font-family: Inter, 'Source Sans Pro';
            text-align: center;
            line-height: 1.1428571429;
          }
          .nov-Z4X {
            line-height: 1.1428571429;
            color: #9290a4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
    }
    .chart-11-4GB {
      background-color: #ffffff;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #eaecf0;
      padding: 3.52rem 3.433rem 5rem 3.433rem;
      width: 100%;
      align-items: center;
      border-radius: 2rem;

      .auto-group-jeap-NXm {
        flex-shrink: 0;
        margin-bottom: 2.2rem;
        width: 100%;
        height: 5.2rem;
        display: flex;
        align-items: flex-end;

        .card-info-hpw {
          margin-right: 4.8088rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .type-card-rhq {
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1111111111;
            color: #9290a4;
          }
          .card-title-zp3 {
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2727272727;
            color: #1e1b39;
          }
        }
        .identifiers-Ld1 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 56.681rem 0.4rem 0rem;
          height: 2rem;

          .label-54o {
            flex-shrink: 0;
            margin-right: 3.8386rem;
            height: 100%;
            display: flex;
            align-items: center;

            .indentifier-2Ew {
              flex-shrink: 0;
              margin-right: 0.8583rem;
              width: 1.5251rem;
              height: 1.4216rem;
              object-fit: contain;
              vertical-align: top;
            }
            .name-Mo1 {
              line-height: 1.1111111111;
              color: #1e1b39;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 500;
            }
          }
          .label-hM5 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            height: 100%;

            .indentifier-rDy {
              margin-right: 0.8582rem;
              width: 1.5251rem;
              height: 1.4216rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .name-zb5 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.1111111111;
              color: #1e1b39;
              font-family: DM Sans, 'Source Sans Pro';
            }
          }
        }
        .total-amount-8xB {
          height: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-tgT {
            margin-bottom: 0.4rem;
            font-size: 1.8rem;
            line-height: 1.1111111111;
            flex-shrink: 0;
            text-align: right;
            font-weight: 400;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .number-pq1 {
            margin-right: 0.0002rem;
            text-align: right;
            font-size: 2.2rem;
            line-height: 1.2727272727;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 700;
            color: #1e1b39;
          }
        }
      }
      .divider-Ym1 {
        margin: 0rem 0rem 3.5rem 0rem;
        width: calc(100% - 0.0001rem);
        height: 0.1rem;
        background-color: #e5e5ef;
        flex-shrink: 0;
      }
      .auto-group-ctnj-gMR {
        margin-left: 0.4004rem;
        height: 28.7927rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ages-cks {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 3.326rem 0.098rem 0rem;
          height: 28.6952rem;
          align-items: flex-end;

          .item-18-24-LB5 {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.8rem;
            line-height: 1.1111111111;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 4.6738rem;
            font-weight: 500;
            color: #615e82;
          }
          .item-25-34-ehZ {
            margin: 0rem 0rem 4.674rem 0rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.1111111111;
            white-space: nowrap;
            text-align: right;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .item-35-44-mXH {
            text-align: right;
            line-height: 1.1111111111;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 4.674rem 0rem;
            font-size: 1.8rem;
            font-weight: 500;
          }
          .item-45-64-tbu {
            text-align: right;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.1111111111;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 4.674rem 0rem;
            color: #615e82;
            flex-shrink: 0;
          }
          .item-65-DPH {
            flex-shrink: 0;
            line-height: 1.1111111111;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 500;
            color: #615e82;
            white-space: nowrap;
            margin-right: 0rem;
            text-align: right;
          }
        }
        .bars-k8K {
          flex-shrink: 0;
          margin-right: 3.433rem;
          width: 86.682rem;
          height: 100%;
          border-radius: 0.8rem;

          .empty-bars-6hy {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 0.8rem;

            .empty-bar-1-3NK {
              border-radius: 0.8rem;
              width: 86.682rem;
              height: 2.1952rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #f8f8ff;
            }
            .empty-bar-2-5po {
              border-radius: 0.8rem;
              width: 86.682rem;
              height: 2.1952rem;
              position: absolute;
              left: 0;
              top: 6.5762rem;
              background-color: #f8f8ff;
            }
            .empty-bar-3-DRD {
              height: 2.1952rem;
              position: absolute;
              left: 0;
              top: 13.25rem;
              background-color: #f8f8ff;
              border-radius: 0.8rem;
              width: 86.682rem;
            }
            .empty-bar-4-ws1 {
              top: 19.9237rem;
              background-color: #f8f8ff;
              border-radius: 0.8rem;
              width: 86.682rem;
              height: 2.1952rem;
              position: absolute;
              left: 0;
            }
            .empty-bar-5-V7q {
              position: absolute;
              left: 0;
              top: 26.5976rem;
              background-color: #f8f8ff;
              border-radius: 0.8rem;
              width: 86.682rem;
              height: 2.1952rem;
            }
            .fem-bars-RXH {
              top: 0;
              border-radius: 0.8rem;
              width: 42.0536rem;
              height: 28.7927rem;
              position: absolute;
              left: 0;

              .fem-bar-9y5 {
                background-color: #49d3ff;
                border-radius: 0.8rem;
                width: 9.479rem;
                height: 2.1952rem;
                position: absolute;
                left: 5.958rem;
                top: 6.5763rem;
              }
              .fem-bar-HJb {
                position: absolute;
                left: 2.6398rem;
                top: 0;
                background-color: #49d3ff;
                border-radius: 0.8rem;
                width: 4.4525rem;
                height: 2.1952rem;
              }
              .fem-bar-baB {
                background-color: #49d3ff;
                border-radius: 0.8rem;
                width: 15.4369rem;
                height: 2.1952rem;
                position: absolute;
                left: 0;
                top: 13.25rem;
              }
              .fem-bar-jRV {
                border-radius: 0.8rem;
                width: 31.8433rem;
                height: 2.1952rem;
                position: absolute;
                left: 0;
                top: 19.9237rem;
                background-color: #49d3ff;
              }
              .fem-bar-4yZ {
                width: 42.0536rem;
                height: 2.1952rem;
                position: absolute;
                left: 0;
                top: 26.5976rem;
                background-color: #49d3ff;
                border-radius: 0.8rem;
              }
              .male-bars-cEP {
                width: 22.9066rem;
                top: 0;
                align-items: center;
                border-radius: 0.8rem;
                height: 28.7927rem;
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: column;

                .auto-group-n3um-9VD {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding-bottom: 4.4787rem;
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .male-bar-57y {
                    margin-bottom: 4.3811rem;
                    width: 4.5011rem;
                    height: 2.1952rem;
                    background-color: #4a3aff;
                    border-radius: 0.8rem;
                    flex-shrink: 0;
                  }
                  .male-bar-4e7 {
                    border-radius: 0.8rem;
                    flex-shrink: 0;
                    margin-bottom: 4.4784rem;
                    width: 9.479rem;
                    height: 2.1952rem;
                    background-color: #4a3aff;
                  }
                  .male-bar-Uhq {
                    margin-bottom: 4.4787rem;
                    width: 6.4091rem;
                    height: 2.1952rem;
                    background-color: #4a3aff;
                    border-radius: 0.8rem;
                    flex-shrink: 0;
                  }
                  .male-bar-zAP {
                    border-radius: 0.8rem;
                    flex-shrink: 0;
                    width: 9.479rem;
                    height: 2.1952rem;
                    background-color: #4a3aff;
                  }
                }
                .male-bar-uYF {
                  flex-shrink: 0;
                  width: 100%;
                  height: 2.1952rem;
                  background-color: #4a3aff;
                  border-radius: 0.8rem;
                }
              }
              .hover-stat-y2K {
                top: 15.0289rem;
                font-weight: 400;
                line-height: 1.125;
                justify-content: center;
                background-repeat: no-repeat;
                height: 4.1999rem;
                position: absolute;
                color: #ffffff;
                white-space: nowrap;
                background-image: url('REPLACE_IMAGE:65:24319');
                left: 16.9954rem;
                text-align: center;
                background-position: center;
                font-size: 1.6rem;
                background-size: cover;
                display: flex;
                align-items: center;
                width: 7.3316rem;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
        .perceantages-KkP {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.0975rem;
          height: 28.6952rem;
          align-items: flex-end;
          display: flex;

          .item-33-E6f {
            margin: 0rem 0rem 4.674rem 0rem;
            font-weight: 500;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: right;
            font-size: 1.8rem;
            line-height: 1.1111111111;
            flex-shrink: 0;
          }
          .item-127-hkw {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 4.674rem 0rem;
            line-height: 1.1111111111;
            font-weight: 500;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            text-align: right;
            font-size: 1.8rem;
          }
          .item-152-QfM {
            line-height: 1.1111111111;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 4.6738rem;
            font-weight: 500;
            white-space: nowrap;
            text-align: right;
            font-size: 1.8rem;
          }
          .item-253-L3D {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 4.674rem 0rem;
            text-align: right;
            font-weight: 500;
            line-height: 1.1111111111;
            color: #615e82;
            font-size: 1.8rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-335-FAB {
            font-weight: 500;
            line-height: 1.1111111111;
            color: #615e82;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.8rem;
            text-align: right;
            flex-shrink: 0;
            margin-right: 0rem;
          }
        }
      }
    }
  }
}
