
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 161rem;
}.frame-50-nWX {
  box-sizing: border-box;
  padding-right: 99.1rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.frame-50-nWX .auto-group-keus-iuy {
  margin-right: 1.5rem;
  width: 30.2rem;
  height: 31.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-10-f4X {
  margin-bottom: 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #eaecf0;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-10-f4X .auto-group-fjwk-oRd {
  box-sizing: border-box;
  padding: 3rem 3rem 2.1rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-10-f4X .auto-group-fjwk-oRd .average-disco-tariff-LAf {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3020000458;
  letter-spacing: -0.014rem;
  color: #252733;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-10-f4X .auto-group-fjwk-oRd .item-5801-cts {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.16rem;
  color: #252733;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-10-f4X .rectangle-5487-YGj {
  width: 100%;
  height: 1rem;
  background-color: #91dbf2;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-19-EfM {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #eaecf0;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-19-EfM .auto-group-qbgw-PHM {
  box-sizing: border-box;
  padding: 3rem 3rem 0rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-19-EfM .auto-group-qbgw-PHM .average-billing-efficiency-7z3 {
  margin-bottom: 0.9rem;
  max-width: 9.7rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3025;
  letter-spacing: -0.014rem;
  color: #252733;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-19-EfM .auto-group-qbgw-PHM .auto-group-2jxj-ptT {
  width: 14.7rem;
  height: 6.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.16rem;
  color: #252733;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-keus-iuy .frame-19-EfM .rectangle-5487-XH5 {
  width: 100%;
  height: 1rem;
  background-color: #91dbf2;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw {
  width: 30.2rem;
  height: 31.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-20-k9q {
  margin-bottom: 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #eaecf0;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-20-k9q .auto-group-ljdy-HfZ {
  box-sizing: border-box;
  padding: 3rem 3rem 2.1rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-20-k9q .auto-group-ljdy-HfZ .average-aktc-pQb {
  margin-bottom: 1.7rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3025;
  letter-spacing: -0.014rem;
  color: #252733;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-20-k9q .auto-group-ljdy-HfZ .item-7300-Ldq {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.16rem;
  color: #252733;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-20-k9q .rectangle-5487-4pj {
  width: 100%;
  height: 1rem;
  background-color: #91dbf2;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-9-a2P {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #eaecf0;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-9-a2P .auto-group-hb6b-iuH {
  box-sizing: border-box;
  padding: 3rem 3rem 0rem 3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-9-a2P .auto-group-hb6b-iuH .average-collect-efficiency-Trs {
  margin: 0rem 5rem 1rem 0rem;
  max-width: 19.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3020000458;
  letter-spacing: -0.014rem;
  color: #252733;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-9-a2P .auto-group-hb6b-iuH .auto-group-dgvr-9jh {
  margin-right: 4.4667rem;
  width: 19.7333rem;
  height: 6.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.16rem;
  color: #252733;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-50-nWX .auto-group-so2k-1xw .frame-9-a2P .rectangle-5487-STu {
  width: 100%;
  height: 1rem;
  background-color: #91dbf2;
  flex-shrink: 0;
}
